<div class="dialog" [ngStyle]="{'display': (_dialog.isDialogOpen) ? 'block': 'none'}">
  <button class="close-btn" (click)="closeButtonClick();"><i class="fas fa-times"></i></button>
  <div *ngIf="(currentContent == 'login')">
      <div class="form">
          <h4 translate>_Log me in_</h4>
          <form>
              <label>
                  <span translate>_Email_</span>
                  <input type="text" [(ngModel)]="email" name="email"/>
              </label>
              <label>
                  <span translate>_Password_</span>
                  <input type="password" [(ngModel)]="password" name="password"/>
                  <button type="button" class="align-right" (click)="login()">
                      <span translate>_Log-in_&nbsp;&nbsp;</span>
                      <i class="fa fa-forward"></i>
                  </button>
              </label>
              <label>
                  
              </label>
          </form>
          <p translate>_When you are logged in you can edit your entry or grave-stone design.
              These of you who have reservation for communal grave can add any entry at any
              time after log-in. Those of you who have reservation on Virtual - Graveyard can edit 
              e-mail form the grave._
          </p>
          <button type="button" class="align-right" (click)="openForgotPassword()">
              <span translate>_I've forgotten my password_</span>
          </button>
          <p>_Do not have account here?_
              <button type="button" class="align-right" (click)="openRegister()">
                  <span translate>_Register_</span>
              </button>
          </p>
      </div>      
  </div>
  <div *ngIf="(currentContent == 'register')">
      <div class="form">
          <h4 translate>_Register_</h4>
          <form>
              <div class="col-left">
                <label>
                    <span translate>_First Name_</span>
                    <input type="text" [(ngModel)]="firstname" name="firstname"/>
                </label>
                <label>
                    <span translate>_E-mail_</span>
                    <input type="text" [(ngModel)]="email" name="email"/>
                </label>
                <label>
                    <span translate>_Password_</span>
                    <input type="text" [(ngModel)]="password" name="password"/>
                </label>
              </div>
              <div class="col-right">
                  <label>
                      <span translate>_Last Name_</span>
                      <input type="text" [(ngModel)]="firstname" name="firstname"/>
                  </label>
                  <label>
                      <span translate>_Phone(optional)_</span>
                      <input type="text" [(ngModel)]="email" name="email"/>
                  </label>
                  <label>
                      <span translate>_Confirm Password_</span>
                      <input type="text" [(ngModel)]="password" name="password"/>
                  </label>
                </div>
              <label>
                  <input type="checkbox" [(ngModel)]="password" name="password"/>
                  <span translate>_I have read understand and agree to these
                    rules and conditions_</span>
              </label>
              <label>
                  <button type="button" class="align-right" (click)="register()">
                      <span translate>_Register_&nbsp;&nbsp;</span>
                  </button>
              </label>
              <label>
                  <button type="button" class="align-left" (click)="openLogin()">
                      <span translate>_Log-in_&nbsp;&nbsp;</span>
                  </button>
              </label>
              <label>
                  <button type="button" class="align-right" (click)="openForgotPassword()">
                      <span translate>_I've forgotten my password_</span>
                  </button>
              </label>
          </form>
          <p translate>
              _When you are logged in you can edit your entry or grave-stone design.
              These of you who have reservation for communal grave can add any entry at any
              time after log-in. Those of you who have reservation on Virtual - Graveyard can edit 
              e-mail form the grave._
          </p>
          <button type="button" class="align-right" (click)="openForgotPassword()">
              <span translate>_I've forgotten my password_</span>
          </button>
          <p>_Do not have account here?_
              <button type="button" class="align-right" (click)="openRegister()">
                  <span translate>_Register_</span>
              </button>
          </p>
      </div>      
  </div>
  <div *ngIf="(currentContent == 'forgot-password')">
      <div class="form">
          <h4 translate>_Password Reminder_</h4>
          <form>
              <label>
                  <span translate>_Enter your e-mail address_</span>
                  <input type="text" [(ngModel)]="firstname" name="firstname"/>
              </label>
              <label>
                  <span translate></span>
                  <button type="button" class="align-right" (click)="forgotpassword()">
                      <span translate>_Send me my password_</span>
                  </button>
              </label>
              <p>_Your password will be emailed to this address_</p>
          </form>
          <button type="button" class="align-right" (click)="openLogin()">
              <span translate>_Log-in_</span>
          </button>
          <p>_If you do not have an account, you may register by clicking the
              <button type="button" class="align-right" (click)="openRegister()">
                  <span translate>_Register_</span>
              </button>
          </p>
      </div>      
  </div>
</div>
<div class="dialog-overlay" [ngStyle]="{'display': (_dialog.isDialogOpen) ? 'block': 'none'}"></div>