<div class="dialog" [ngStyle]="{'display': (_dialog.isDialogOpen) ? 'block': 'none'}">
  <button class="close-btn" (click)="closeButtonClick();"><i class="fas fa-times"></i></button>
  <div *ngIf="(currentContent == 'login')">
      <div class="form">
          <h4 translate>login.log_me_in</h4>
          <form>
              <label>
                  <span translate>login.email</span>
                  <input type="text" [(ngModel)]="email" name="email"/>
              </label>
              <label>
                  <span translate>login.password</span>
                  <input type="password" [(ngModel)]="password" name="password"/>
                  <button type="button" class="grey-button" (click)="login()">
                      <span translate>login.log_in</span>
                  </button>
              </label>
              <label>
                  <p style="color:#f00;" *ngIf="loginFormError">{{loginFormError}}</p>
              </label>
              <label>
                <p translate>login.info</p>
              </label>
              <label>
                <button type="button" class="grey-button" (click)="openForgotPassword()">
                    <span translate>login.i_have_forgotten_password</span>
                </button>
              </label>
              <label>
                <p translate>login.do_not_have_account_here
                    <button type="button" class="grey-button" (click)="openRegister()">
                        <span translate>login.register</span>
                    </button>
                </p>
              </label>
          </form>
      </div>      
  </div>
  <div *ngIf="(currentContent == 'register')">
      <div class="form login-form">
          <h4 translate>register.register</h4>
          <form>
            <label>
                <span class="small" translate>register.firstname</span>
                <input type="text" [(ngModel)]="firstname" name="firstname"/>
                <span class="small" translate>register.lastname</span>
                <input type="text" [(ngModel)]="lastname" name="lastname"/>
            </label>
            <label>
                <span class="small" translate>register.email</span>
                <input type="text" [(ngModel)]="email" name="email"/>
                <span class="small" translate>register.phone</span>
                <input type="text" [(ngModel)]="phone" name="phone"/>
            </label>
            <label>
                <span class="small" translate>register.password</span>
                <input type="password" [(ngModel)]="password" name="password"/>
                <span class="small" translate>register.confirm_password</span>
                <input type="password" [(ngModel)]="confirm_password" name="confirm_password"/>
            </label>
            <label>
                <p translate><input type="checkbox" style="width:50px;" [(ngModel)]="terms_and_conditions" name="terms_and_conditions"/>
                    register.short_info</p>
            </label>
            <label>
                <button type="button" class="grey-button align-left" (click)="openLogin()">
                    <span translate>register.log_in</span>
                </button>
                <button type="button" class="grey-button align-right" (click)="register()">
                    <span translate>register.register</span>
                </button>
            </label>
            <label>
                <button type="button" class="grey-button align-left" (click)="openForgotPassword()">
                    <span translate>register.i_have_forgotten_password</span>
                </button>
            </label>
          </form>
      </div>      
  </div>
  <div *ngIf="(currentContent == 'forgot-password')">
      <div class="form">
          <h4 translate>forgot_password.password_reminder</h4>
          <form>
              <label>
                  <span translate>forgot_password.enter_email</span>
                  <input type="text" [(ngModel)]="email" name="email"/>
              </label>
              <label>
                  <span translate></span>
                  <button type="button" class="grey-button" (click)="forgotpassword()">
                      <span translate>forgot_password.send_my_password</span>
                  </button>
              </label>
              <label>
                    <p translate>forgot_password.short_info</p>
              </label>
              <label>
                <button type="button" class="grey-button" (click)="openLogin()">
                    <span translate>forgot_password.log_in</span>
                </button> 
              </label>
              <label>
                <p translate>forgot_password.if_you_dont_have_account
                    <button type="button" class="align-right grey-button" (click)="openRegister()">
                        <span translate>forgot_password.register</span>
                    </button>
                </p>  
              </label>
          </form>
      </div>      
  </div>
</div>
<div class="dialog-overlay" [ngStyle]="{'display': (_dialog.isDialogOpen) ? 'block': 'none'}"></div>