*{
    font-family: verdana;
}
*:focus{
    outline: none;
}
.clear{
    clear: both;
}
.text-center {
    text-align: center;
}
.align-right{
    float: right;
}
#vg-logo{
    cursor: pointer;
    position: absolute;
    height: 75px;
    width: 75px;
    z-index: 9;
    top: 20px;
    left: 50px;
    background-image: url(./assets/images/vg-logo.png);
    background-position: center;
    opacity: 1;
}
#vg-logo:hover{
    background-image: url(./assets/images/vg-logo-hover.png);
}
#vg-left-logo{
    position: absolute;
    height: 200px;
    width: 100px;
    z-index: 9;
    top: -40px;
    left: -85px;
    background-image: url(./assets/images/vg-left-logo.png);
    background-position: center;
    background-size: 100%;
}
#vg-right-logo{
    position: absolute;
    height: 200px;
    width: 100px;
    z-index: 9;
    top: -40px;
    right: -85px;
    background-image: url(./assets/images/vg-right-logo.png);
    background-position: center;
    background-size: 100%;
}
body{
    background-color: #000;
    margin: 0;
    padding: 0;
}
body header{
    height: 50px;
    background-repeat: repeat-x;
    background-image: url(./assets/images/header.jpg);
    background-position: center top;
}
body header > div {
    width: 1024px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
body header > div > div:nth-child(1){
    width: 300px;
    height: 100%;
    display: inline-block;
    float: left;
}
body header > div > div:nth-child(2){
    position: absolute;
    left: 310px;
    height: 100%;
    width: 300px;
}
body header > div > div:nth-child(3){
    float: right;
    height: 100%;
    width: 400px;
}
body header ul {
    list-style-type: none;
    padding: 0;
    width: 250px;
    margin: 0 auto;
}
body header ul > li {
    border: 1px solid #999;
    height: 15px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.5);
    color: #bfbfbf;
    padding: 1px 5px;
    position: relative;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 11px;
    line-height: 14px;
}
body header ul > li > i {
    display: inline-block !important;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
body header ul > li.inline {
    display: inline-block;
    margin-right: 3px;
}
body header ul ul {
    display: none;
    list-style-type: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 228px;
    left: -1px;
    padding: 5px;
    border: 1px solid #999;
    top: 17px;
    border-top: none;
    padding: 0;
    width: 100%;
    z-index: 999;
}
body header ul > li:hover ul > li{
    padding: 0 10px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 3px;
}
body header ul > li:hover{
    border-bottom: none;
    color: #b89a45;
}
body header ul > li:hover ul {
    display: block;
}
body header ul > li:hover ul > li:hover{
    color: #b89a45;
    background: #333;
}
body #wrapper{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
body #content{
	height: 600px;
    width: 1024px;
    display: block;
    overflow: hidden;
    position: relative;
    color: #fff;
    margin: 10px auto;
}
body #content.notice-bg{
    overflow: inherit;
    background-image: url(./assets/images/noticeboard.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -190px;
}
body #content.loading-bg{
    overflow: inherit;
    background-image: url(./assets/images/wall.png);
    background-repeat: repeat;
    background-size: 25%;
    -webkit-animation: backgroundScroll infinite linear 1;
    -webkit-animation-fill-mode: forwards;
    animation: backgroundScroll infinite linear 1;
    animation-fill-mode: forwards;
}
body #content .scroll-content{
    width: 530px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
    margin-top: 70px;
    padding: 10px;
    padding-left: 20px;
}
body #content .scroll-content h4{
    color: #848484;
    font-weight: bold;
    font-size: 12px;
}
body #content .scroll-content p{
    color: #848484;
    font-size: 11px;
}
body #content .sky{
	height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background-image: url(./assets/images/sky.jpg);
	background-size: 145%;
    background-repeat: no-repeat;
}
body #content .top-board{
    height: 55px;
    width: 225px;
    display: block;
    top: 0;
    left: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    background-image: url(./assets/images/top-board.png);
    background-repeat: no-repeat;
    margin-left: -120px;
    background-size: cover;
    background-position: 0;
}
body #content .birds{
    height: 155px;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    background-image: url(./assets/images/birds-flying.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
body #content.goto-notice-wall .birds{
	display: none;
}
body #content .gate-left{
   width: 165px;
   height: 298px;
   background-image: url(./assets/images/gate-left.png);
   background-repeat: no-repeat;
   background-size: contain;
   transition: -webkit-transform 2s linear;
   transition: transform 1s linear;
   transition: transform 1s linear, -webkit-transform 2s linear;
   -webkit-transform: perspective(300) rotateY(0deg);
   -webkit-transform-origin: 0% 0%;
   display: inline-block;
	   
}
body #content.goto-notice-wall .main-gate .gate-left{
	-webkit-transform: perspective(300) rotateY(90deg);
	-webkit-transform-origin: 0% 0%;
}
body #content .gate-right{
    width: 165px;
    height: 298px;
    float: right;
    z-index: 3;
    background-image: url(./assets/images/gate-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: -webkit-transform 2s linear;
    transition: transform 1s linear;
    transition: transform 1s linear, -webkit-transform 2s linear;
    -webkit-transform: perspective(300) rotateY(0deg);
    -webkit-transform-origin: 0% 0%;
    display: inline-block;
}
body #content.goto-notice-wall .main-gate .gate-right{
	-webkit-transform: perspective(300) rotateY(-90deg);
	-webkit-transform-origin: 100% 0%;
}
body #content .gate-right:before{
	content: "";
    width: 135px;
    height: 50px;
    right: 23px;
    z-index: 3;
    background-image: url(./assets/images/entrance-board.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 150px;
}
body #content .lion-left{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 120px;
    left: 170px;
    z-index: 3;
    background-image: url(./assets/images/lion.png);
    background-repeat: no-repeat;
}
body #content .lion-right{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 120px;
    right: 165px;
    z-index: 3;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipX;
    filter: FlipX;
    -ms-filter: "FlipX";
    background-image: url(./assets/images/lion.png);
    background-repeat: no-repeat;
}
body #content .gate-wall {
	position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 1;
	background-image: url(./assets/images/main-gate.png);
    background-position: bottom center;
    background-repeat: no-repeat;    
    background-size: contain;
    transition: all 1s ease-in-out;
    background-position: bottom center;
}
body #content.goto-notice-wall .gate-wall{
    transform: scale(5);
    background-position: center 20px;
    opacity: 0;
    z-index: -1;
}
body #content .notice-wall{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: url(./assets/images/notice-board.png);
    background-repeat: no-repeat;
    background-size: 45%;
    transition: all 1.0s ease-in-out;
    background-position: 280px 250px;
}
body #content.goto-notice-wall .notice-wall{
    background-size: 100%;
    background-position: -15px 140px;
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
}
body #content .main-gate{
    height: 305px;
    width: 330px;
    top: 190px;
    position: relative;
    left: 355px;
}
body footer{
    position: absolute;
    bottom: -10px;
    height: 80px;
    background-image: url(./assets/images/bg-bottom.jpg);
    background-repeat: repeat-x;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    z-index: 999;
}
body footer ul{
    width: 1024px;
    margin: 0 auto;
    list-style-type: none;
    background: #000;
    margin-top: 25px;
}
body footer ul li {
    float: left;
    font-size: 11px;
}
body footer ul li a{
    color: #585858;
    text-decoration: none;
}
body footer ul li:before{
    content: '+';
    color: #585858;
    padding-right: 5px;
    padding-left: 5px;
}
body footer ul li:last:after{
    content: '+';
    color: #585858;
    padding-right: 5px;
    padding-left: 5px;
}
form > label{
    display: block;
    margin-bottom: 5px;
}
form > label .info{
    color: #555;
    font-size: 10px;
}
form > label > span{
    color: #848484;
    font-size: 11px;
    width: 170px;
    display: inline-block;
    line-height: 20px;
}
form > label input, form > label textarea{
    border-radius: 3px;
    border: none;
    height: 20px;
    font-size: 12px;
    width: 150px;
    line-height: 20px;
}
form > label button {
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}
.tabs-container{
    width: 690px;
    margin: 50px auto;
    height: 400px;
}
.tab-bar{
    width: 690px;
    margin: 0 auto;
}
.tab-bar a{
    background: #333;
    color: #a6a6a6;
    padding: 0 5px;
    border-radius: 3px 3px 0 0;
    border: 1px solid #000;
    border-bottom: none;
    cursor: pointer;
    font-size: 12px;
    height: 19px;
    display: inline-block;
    line-height: 18px;
}
.tab-bar a:focus{
    outline: none;
}
.tab-bar a.active{
    background: #b2973d;
    color: #333;
}
.tabs{
    width: 680px;
    padding: 10px;
    height: 355px;
}
.tabs > div{
    color: #fff;
    height: 100%;
    padding: 10px;
}
.tabs > div h4{
    color: #848484;
    font-size: 12px;
}
.tabs > div p{
    color: #515151;
    font-size: 11px;
}
.popular-grave-col{
    width: 40%;
    margin-left: -90px;
    height: 100%;
    display: inline-block;
    float: left;
}
.options-col{
    width: 245px;
    height: 100%;
    display: inline-block;
    float: left;
    margin: 0 13px;
}
.options-col .option{
    background-image: url(./assets/images/option-shadow.png);
    background-repeat: no-repeat;
    background-position: center 8px;
    margin: 0 auto;
    margin-bottom: 10px;
    min-width: 200px;
    min-height: 60px;
    position: relative;
}
.options-col .option button{
    background-image: url(./assets/images/option-background.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    color: #a6a6a6;
    padding: 10px;
    width: 200px;
    border: none;
    background-color: transparent;
    margin: 0 auto;
    cursor: pointer;
}
.options-col .option select{
    display: block;
    padding: 5px;
    width: 165px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 3px;
    height: 28px;
    border: 1px solid #000;
}
.options-col .option input{
    display: block;
    padding: 5px;
    width: 160px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 3px;
    height: 18px;
    border: 1px solid #000;
}
.options-col .option:after{
    content: "";
    background-image: url(./assets/images/option-arrow-right.png);
    display: block;
    width: 38px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 0;
    background-repeat: no-repeat;
}
.advertisement-col{
    width: 40%;
    margin-right: -80px;
    height: 100%;
    display: inline-block;
    float: right;
}
.popular-grave-col .tile,
.advertisement-col .tile{
    width: 100%;
    height: 105px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/images/floating-tile.png);
	padding: 15px;
}
.popular-grave-col .tile p,
.advertisement-col .tile p{
	padding: 0 20px;
    font-weight: normal;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 180px;
    margin: 0 auto;
}
.popular-grave-col .tile p{
    text-align: center;
    white-space: inherit;
    margin-bottom: 20px;
    color: #848484;
}
.popular-grave-col .tile p.name{
    color: #a2a2a2;
    font-weight: bold;
    font-size: 13px;
}
.popular-grave-col .tile a,
.advertisement-col .tile a{
	padding: 0 10px;
    width: 180px;
    display: block;
    color: #b2973d;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}
.popular-grave-col .tile img,
.advertisement-col .tile img{
	width: 60px;
    height: 60px;
    display: block;
    color: #b2973d;
    margin: 5px auto;
    border: 1px solid #b2973d;
}
.popular-grave-col .tile span{
    display: inline-block;
    width: 45%;
    float: left;
    font-size: 10px;
    text-align: center;
}
.popular-grave-col .tile label{
    display: block;
    color: #848484;
}
.page-seperator{
    color: #848484;
    font-size: 10px;
    margin: 0 3px;
}
table, tr, td, th{
    border-collapse: collapse;
    border: none;
    font-size: 11px;
    height: 20px;
}
table tr td.text-center {
    text-align: center;
}
table tr:hover td{
    background: #202020;
    color: #947F1D;
    cursor: pointer;
}
table tr td.x {
    width: 5%;
}
table tr td.xx {
    width: 15%;
}
table tr td.xxx {
    width: 25%;
}
table tr th {
    color: #848484; 
    font-weight: bold;
    font-size: 11px;
}
table tr td { 
    color: #BFBFBF; 
}
table tr:nth-child(even) {
    background: #313131;
}
table tr:nth-child(odd) {
    background: #272727;
}
table .label{
    font-size: 12px;
    color: #848484; 
}
table .page{
    float: left;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    padding: 0 4px;
    margin: 0;
}
table .page:hover{
    color: #947F1D;
}
table a{
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}
table .left-item{
    float: left;
}
table .right-item{
    float: right;
}
table .center-item{
    float: right;
}
table tbody{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
#loading-options{
    border: none;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    background-color: rgba(0, 0, 0, 0.7);
    height: 150px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    list-style-type: none;
}
#loading-options li{
    height: 100px;
    width: 100px;
    float: left;
    margin: 20px 5px;
}
#loading-options li label{
    margin-bottom: 5px;
    display: block;
    font-size: 12px;
    color: #ababab;
    height: 20px;
}
#loading-options li:hover label{
    color: #fff;
}
#loading-options li button{
    display: block;
    height: 50px;
    width: 50px;
    margin: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 5px;
    background-position: -1px -2px;
    background-size: 51px 55px !important;
}
#loading-options li:hover button{
    box-shadow: 0 0 20px 0 #fff;
}
#loading-options li button.day{
    background-image: url(./assets/images/day.png);
}
#loading-options li:hover button.day{
    background-image: url(./assets/images/day-active.png);
}
#loading-options li button.night{
    background-image: url(./assets/images/night.png);
}
#loading-options li:hover button.night{
    background-image: url(./assets/images/night-active.png);
}
#loading-options li button.blue-sky{
    background-image: url(./assets/images/blue-sky.png);
}
#loading-options li:hover button.blue-sky{
    background-image: url(./assets/images/blue-sky-active.png);
}
#loading-options li button.rain{
    background-image: url(./assets/images/rain.png);
}
#loading-options li:hover button.rain{
    background-image: url(./assets/images/rain-active.png);
}
#loading-options li button.thunder-strom{
    background-image: url(./assets/images/thunder-strom.png);
}
#loading-options li:hover button.thunder-strom{
    background-image: url(./assets/images/thunder-strom-active.png);
}
#loading-options li button.snow{
    background-image: url(./assets/images/snow.png);
}
#loading-options li:hover button.snow{
    background-image: url(./assets/images/snow-active.png);
}
#loading-options li button.random{
    background-image: url(./assets/images/random.png);
}
#loading-options li:hover button.random{
    background-image: url(./assets/images/random-active.png);
}
#loading-options li button.ok{
    background-image: url(./assets/images/ok.png);
}
#loading-options li:hover button.ok{
    background-image: url(./assets/images/ok-active.png);
}
#loading-options li.seperator{
    width: 2px;
    background: #ccc;
    margin: 20px 40px 20px 0;
    display: inline-block;
    height: 100px;
}
.graveyard-sky-container{
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.graveyard-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -100px 0px;}
}
@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -100px 0px;}
}
