*{
    font-family: verdana;
}
*:focus{
    outline: none;
}
.clear{
    clear: both;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.featured{
    color: #ff0;
    position: absolute;
    right: 5px;
    top: 5px;
}
table button{
    background: none;
    color: #fff;
    border: none;
    font-size: 11px;
}
.tile-scroll-content{
    width: 650px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
}
.tile-scroll-content.small-height{
    height: 300px;
}
.large-box{
    width: 100%;
    height: 300px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.align-right{
    float: right;
}
.fixed-position{
    position: fixed !important;
}
.tile {
    display: inline-block;
    margin: 5px;
    padding: 0;
    position: relative;
}
.tile.selected{
    border: 1px solid #b2973d;
}
.tile img{
    width: 75px;
    height: 75px;
    border: 1px solid #808080;
}
.tile div.img-hover{
    position: absolute;
    display: none;
    width: 200px;
    height: 200px;
    z-index: 1;
    border: 1px solid #808080;
    background-size:contain; 
    background-repeat: no-repeat;
}
.tile img:hover + .img-hover{
    display: block;
}
#vg-logo{
    cursor: pointer;
    position: absolute;
    height: 75px;
    width: 75px;
    z-index: 9;    
    top: 15px;
    left: 70px;
    background-image: url(./assets/images/vg-logo.png);
    background-position: center;
    opacity: 1;
}
#vg-logo:hover{
    background-image: url(./assets/images/vg-logo-hover.png);
}
#vg-left-logo{
    position: absolute;
    height: 200px;
    width: 100px;
    z-index: 9;
    top: 60px;
    left: 30px;
    background-image: url(./assets/images/vg-left-logo.png);
    background-position: center;
    background-size: 100%;
}
#vg-right-logo{
    position: absolute;
    height: 200px;
    width: 100px;
    z-index: 9;
    top: 60px;
    right: 30px;
    background-image: url(./assets/images/vg-right-logo.png);
    background-position: center;
    background-size: 100%;
}
body{
    background-color: #000;
    margin: 0;
    padding: 0;
}
body header{
    height: 50px;
    background-repeat: repeat-x;
    background-image: url(./assets/images/header.jpg);
    background-position: center top;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}
body header > div {
    width: 1024px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
body header > div > div:nth-child(1){
    width: 300px;
    height: 100%;
    display: inline-block;
    float: left;
}
body header > div > div:nth-child(2){
    position: absolute;
    left: 310px;
    height: 100%;
    width: 300px;
}
body header > div > div:nth-child(3){
    float: right;
    height: 100%;
    width: 400px;
}
body header ul {
    list-style-type: none;
    padding: 0;
    width: 250px;
    margin: 0 auto;
}
body header ul  li {
    border: 1px solid #999;
    height: 15px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.5);
    color: #bfbfbf;
    padding: 1px 5px;
    position: relative;
    /*margin: 3px;*/
    cursor: pointer;
    font-size: 11px;
    line-height: 14px;
}
body header ul li > i {
    display: inline-block !important;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}
body header ul li.inline {
    display: inline-block;
    margin-right: 3px;
    margin-bottom: -1px;
}
body header ul li.inline.medium {
    width: 70px;
}
body header ul ul {
    display: none;
    list-style-type: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 228px;
    left: -1px;
    padding: 5px;
    border: 1px solid #999;
    top: 17px;
    border-top: none;
    padding: 0;
    width: 100%;
    z-index: 999;
}
body header ul > li:hover ul > li{
    padding: 0 10px;
    border: none;
    margin-bottom: 0;
    padding-bottom: 3px;
}
body header ul > li:hover{
    border-bottom: none;
    color: #b89a45;
}
body header ul > li:hover ul {
    display: block;
}
body header ul > li:hover ul > li:hover{
    color: #b89a45;
    background: #333;
}
body #wrapper{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
body #content{
	height: 600px;
    width: 1024px;
    display: block;
    overflow: hidden;
    position: relative;
    color: #fff;
    margin: 0 auto;
    border: 3px solid #545151;
    box-shadow: 0 0 70px 0 #a5a5a5;
    border-top: none;
    border-bottom: none;
}
body #content.notice-bg{
    overflow: inherit;
    background-image: url(./assets/images/noticeboard.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center -180px;
}
body #content.loading-bg{
    overflow: inherit;
    background-image: url(./assets/images/wall.png);
    background-repeat: repeat;
    background-size: contain;
    -webkit-animation: backgroundScroll 5s linear infinite;
    animation: backgroundScroll 5s linear infinite;
    position: relative;
}
body #content.loading-bg-black{
    overflow: inherit;
    background-color: #000;
    position: relative;
}
body #content.catacombs{
    position: relative;
}
body #content.loading-bg.with-logo-cursor, body #content.loading-bg-black.with-logo-cursor{
    cursor: url(./assets/images/loading_cursor.gif);
}
body #content .scroll-content{
    width: 530px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
    margin-top: 50px;
    padding: 80px 0 0 0;
}
body #content .scroll-content-2{
    width: 700px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
}
body #content .scroll-content h4{
    color: #848484;
    font-weight: bold;
    font-size: 12px;
}
body #content .scroll-content p{
    color: #848484;
    font-size: 11px;
}
body #content .sky{
	height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background-image: url(./assets/images/sky.jpg);
	background-size: 145%;
    background-repeat: no-repeat;
}
body #content .top-board{
    height: 55px;
    width: 225px;
    display: block;
    top: 49px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    background-image: url(./assets/images/top-board.png);
    background-repeat: no-repeat;
    margin-left: -120px;
    background-size: cover;
    background-position: 0;
}
body #content .birds{
    height: 155px;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    background-image: url(./assets/images/birds-flying.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
body #content.goto-notice-wall .birds{
	display: none;
}
body #content .gate-left{
   width: 165px;
   height: 298px;
   background-image: url(./assets/images/gate-left.png);
   background-repeat: no-repeat;
   background-size: contain;
   transition: -webkit-transform 3s linear;
   transition: transform 3s linear;
   transition: transform 3s linear, -webkit-transform 3s linear;
   -webkit-transform: perspective(300) rotateY(0deg);
   -webkit-transform-origin: 0% 0%;
   display: inline-block;
}
body #content .gate-right{
    width: 165px;
    height: 298px;
    float: right;
    z-index: 3;
    background-image: url(./assets/images/gate-right.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: -webkit-transform 3s linear;
    transition: transform 3s linear;
    transition: transform 3s linear, -webkit-transform 3s linear;
    -webkit-transform: perspective(300) rotateY(0deg);
    -webkit-transform-origin: 0% 0%;
    display: inline-block;
}
body #content.return-to-maingate .main-gate .gate-left{
	-webkit-transform: perspective(300) rotateY(0deg);
	-webkit-transform-origin: 0% 0%;
}
body #content.return-to-maingate .main-gate .gate-right{
	-webkit-transform: perspective(300) rotateY(0deg);
	-webkit-transform-origin: 0% 0%;
}
body #content .gate-right:before{
	content: "";
    width: 135px;
    height: 50px;
    right: 23px;
    z-index: 3;
    background-image: url(./assets/images/entrance-board.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 150px;
}
body #content .lion-left{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 120px;
    left: 170px;
    z-index: 3;
    background-image: url(./assets/images/lion.png);
    background-repeat: no-repeat;
}
body #content .lion-right{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 120px;
    right: 165px;
    z-index: 3;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: FlipX;
    filter: FlipX;
    -ms-filter: "FlipX";
    background-image: url(./assets/images/lion.png);
    background-repeat: no-repeat;
}
body #content .gate-wall {
	position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 1;
	background-image: url(./assets/images/main-gate.png);
    background-position: bottom center;
    background-repeat: no-repeat;    
    background-size: contain;
    transition: all 1s ease-in-out;
    background-position: bottom center;
}
body #content.goto-notice-wall .gate-wall{
    transform: scale(5);
    background-position: center 20px;
    opacity: 0;
    z-index: -1;
}
body #content .notice-wall{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: url(./assets/images/notice-board.png);
    background-repeat: no-repeat;
    background-size: 45%;
    transition: all 1.0s ease-in-out;
    background-position: 280px 250px;
}
body #content.goto-notice-wall .notice-wall{
    background-size: 130%;
    background-position: -178px 85px;
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
}
body #content .main-gate{
    height: 305px;
    width: 330px;
    top: 190px;
    position: relative;
    left: 355px;
}
body footer{

    height: 90px;
    background-image: url(./assets/images/bg-bottom.jpg);
    background-repeat: repeat;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    background-color: #000;
    border-left: none;
    border-right: none;
}
body footer ul{
    width: 1024px;
    margin: 0 auto;
    list-style-type: none;
    background: #000;
    margin-top: 25px;
}
body footer ul li {
    float: left;
    font-size: 11px;
}
body footer ul li a{
    color: #585858;
    text-decoration: none;
}
body footer ul li:before{
    content: '+';
    color: #585858;
    padding-right: 5px;
    padding-left: 5px;
}
body footer ul li:last:after{
    content: '+';
    color: #585858;
    padding-right: 5px;
    padding-left: 5px;
}
form > label{
    display: block;
    margin-bottom: 5px;
}
form > label .info{
    color: #555;
    font-size: 10px;
}
form > label > span{
    color: #848484;
    font-size: 11px;
    width: 170px;
    display: inline-block;
    line-height: 20px;
}
label > span.small {
    width: 110px;
    padding-left: 5px;
}
form > label input, form  label textarea, form > label select,
.form > label input, .form  label textarea, .form > label select, select {
    border-radius: 3px;
    border: none;
    height: 20px;
    font-size: 12px;
    width: 150px;
    line-height: 20px;
}
form  label textarea.big-box,
.form  label textarea.big-box{
    width: 200px;
    height: 100px;
}
form > label input[type="radio"],
.form > label input[type="radio"] {
    width: 30px;
}
form > label input[type="radio"] + span,
.form > label input[type="radio"] + span {
    color: #fff;
    font-size: 12px;
    line-height: 19px;
    display: inline-block;
}
form > label button, .form  label button {
    background: none;
    color: #fff;
    border: none;
    cursor: pointer;
}
form > label .grey-button, .form  label .grey-button{
    color: #a6a6a6;
    font-weight: bold;
}
form .block-field{
    display: block;
    width: 100%;
}
form .text-right{
    text-align: right;
}
.fill-tabs{
    width: 690px;
    margin: 50px auto;
    height: 400px;
    padding-top: 10px;
}
.fill-tabs .tab-bar{
    width: 690px;
    margin: 21px auto;
    margin-left: -38px;
}
.fill-tabs .tab-bar a{
    background: #333;
    color: #a6a6a6;
    padding: 0 5px;
    border-radius: 3px 3px 0 0;
    border: 1px solid #000;
    border-bottom: none;
    cursor: pointer;
    font-size: 12px;
    height: 19px;
    display: inline-block;
    line-height: 18px;
}
.fill-tabs .tab-bar a:focus{
    outline: none;
}
.fill-tabs .tab-bar a.active{
    background: #b2973d;
    color: #333;
}
.fill-tabs .tabs{
    width: 680px;
    padding: 10px;
    height: 355px;
}
.fill-tabs .tabs > div{
    color: #fff;
    height: 100%;
    padding: 10px;
}
.fill-tabs .tabs > div h4, 
.stroke-tabs .tabs > div h4, 
.form h4 {
    color: #848484;
    font-size: 12px;
}
.fill-tabs .tabs > div p, .form p {
    color: #515151;
    font-size: 11px;
}
.stroke-tabs {
    display: none;
    position: absolute;
    width: 700px;
    height: 300px;
    top: 0;
    left: 50%;
    z-index: 9;
    margin-left: -330px;
    margin-top: 120px;
}
.stroke-tabs .close-btn {
    position: absolute;
    right: 0;
    background: none;
    height: 25px;
    width: 25px;
    color: #FFF;
    font-size: 20px;
    padding: 0;
    border: none;
    cursor: pointer;
}
.stroke-tabs > div {
    background: rgba(0,0,0,0.7);
    border: 3px solid #333;
    border-radius: 4px;
    height: 400px;
    margin-top: 28px;
}
.stroke-tabs .tab-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 5px;
}
.stroke-tabs .tab-bar li, .stroke-tabs .tab-bar span {
    background: rgba(0,0,0,0.7);
    border-top: 3px solid #333;
    border-radius: 4px 4px 0 0;
    float: left;
    border-bottom: none;
    padding: 5px 3px;
    margin-right: 2px;
    font-size: 12px;
    cursor: pointer;
    height: 15px;
    color: #fff;
    min-width: 75px;
    text-align: center;
}
.stroke-tabs .tab-bar li.active, .stroke-tabs .tab-bar span.active{
    margin-top: -4px;
    height: 20px;
    border-top: 3px solid #b2973d;
    border-bottom: 2px solid #151515;
}
.stroke-tabs .tabs > div {
    display: none;
    padding: 10px;
    height: 380px;
    overflow: hidden;
    overflow-y: scroll;
}
.stroke-tabs .tabs > div.active,
.stroke-tabs.open{
    display: block;
}
.text-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.text-list li {
    margin: 10px 5px;
    border: 1px solid #333;
    padding: 20px;
}
.text-list li .message {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #b7b7b7;
}
.text-list li .from {
    padding: 0;
    margin: 0;
    float: right;
    font-size: 10px;
    font-weight: bold;
}
.text-list img {
    width: 75px;
    height: 75px;
    float: left;
}
.object-list{
    margin-top: 40px;
}
.object-list > div {
    border: 1px solid #333;
    padding: 5px;
    position: relative;
}
.object-list > div > div {
    left: 100px;
    top: 5px;
    font-size: 11px;    
    position: absolute;
}
.object-list img {
    width: 50px;
    height: 50px;
}
.popular-grave-col{
    width: 40%;
    margin-left: -120px;
    height: 100%;
    display: inline-block;
    float: left;
}
.options-col{
    width: 345px;
    height: 100%;
    display: inline-block;
    float: left;
    margin: 0 13px;
}
.options-col .option{
    background-image: url(./assets/images/option-shadow.png);
    background-repeat: no-repeat;
    background-position: center 8px;
    margin: 0 auto;
    margin-bottom: 10px;
    min-width: 200px;
    min-height: 60px;
    position: relative;
}
.options-col .option button{
    background-image: url(./assets/images/option-background.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    color: #a6a6a6;
    padding: 10px;
    width: 200px;
    border: none;
    background-color: transparent;
    margin: 0 auto;
    cursor: pointer;
}
.options-col .option select{
    display: block;
    padding: 5px;
    width: 165px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 3px;
    height: 28px;
    border: 1px solid #000;
}
.options-col .option input{
    display: block;
    padding: 5px;
    width: 160px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 3px;
    height: 18px;
    border: 1px solid #000;
}
.options-col .option:after{
    content: "";
    background-image: url(./assets/images/option-arrow-right.png);
    display: block;
    width: 38px;
    height: 35px;
    position: absolute;
    right: 60px;
    top: 0;
    background-repeat: no-repeat;
}
.advertisement-col{
    width: 40%;
    margin-right: -120px;
    height: 100%;
    display: inline-block;
    float: right;
}
.popular-grave-col .tile,
.advertisement-col .tile{
    width: 100%;
    height: 105px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./assets/images/floating-tile.png);
	padding: 15px;
}
.popular-grave-col .tile p,
.advertisement-col .tile p{
	padding: 0 20px;
    font-weight: normal;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 180px;
    margin: 0 auto;
}
.popular-grave-col .tile p{
    text-align: center;
    white-space: inherit;
    margin-bottom: 20px;
    color: #848484;
}
.popular-grave-col .tile p.name{
    color: #a2a2a2;
    font-weight: bold;
    font-size: 13px;
}
.popular-grave-col .tile a,
.advertisement-col .tile a{
	padding: 0 10px;
    width: 180px;
    display: block;
    color: #b2973d;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}
.popular-grave-col .tile img,
.advertisement-col .tile img{
	width: 60px;
    height: 60px;
    display: block;
    color: #b2973d;
    margin: 5px auto;
    border: 1px solid #b2973d;
}
.popular-grave-col .tile span{
    display: inline-block;
    width: 45%;
    float: left;
    font-size: 10px;
    text-align: center;
}
.popular-grave-col .tile label{
    display: block;
    color: #848484;
}
.page-seperator{
    color: #848484;
    font-size: 10px;
    margin: 0 3px;
}
.info{
    color: #BFBFBF;
    font-size: 12px;
}
table{
    width: 100%;
}
table, tr, td, th{
    border-collapse: collapse;
    border: none;
    font-size: 11px;
    height: 20px;
}
table tr td.text-center {
    text-align: center;
}
table tr:hover td{
    background: #202020;
    color: #947F1D;
    cursor: pointer;
}
table tr td.x {
    width: 5%;
}
table tr td.xx {
    width: 15%;
}
table tr td.xxx {
    width: 25%;
}
table tr th {
    color: #848484; 
    font-weight: bold;
    font-size: 11px;
}
table tr td { 
    color: #BFBFBF; 
}
table tr:nth-child(even) {
    background: #313131;
}
table tr:nth-child(odd) {
    background: #272727;
}
table .label{
    font-size: 12px;
    color: #848484; 
}
table .page{
    float: left;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    padding: 0 4px;
    margin: 0;
}
table .page:hover, table .page .active{
    color: #947F1D;
}
table .page.disabled{
    color: #2d2d2d;
}
table a{
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}
table .left-item{
    float: left;
}
table .right-item{
    float: right;
}
table .center-item{
    float: right;
}
table tbody{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
#loading-options{
    border: none;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
    background-color: rgba(0, 0, 0, 0.7);
    height: 150px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    list-style-type: none;
    overflow: hidden;
}
#loading-options li{
    height: 100px;
    width: 100px;
    float: left;
    margin: 20px 5px;
}
#loading-options li label{
    margin-bottom: 5px;
    display: block;
    font-size: 12px;
    color: #ababab;
    height: 20px;
}
#loading-options li:hover label{
    color: #fff;
}
#loading-options li button{
    display: block;
    height: 50px;
    width: 50px;
    margin: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 5px;
    background-position: -1px -2px;
    background-size: 51px 55px !important;
    position: relative;
}
#loading-options li button span{
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fffe03;
    transform: rotate(45deg);
    top: 92px;
    left: 15px;
    display: none;
}
#loading-options li button.active span, 
#loading-options li button:hover span{
    display: block;
}
#loading-options li:hover button{
    box-shadow: 0 0 20px 0 #fff;
}
#loading-options li button.day{
    background-image: url(./assets/images/day.png);
}
#loading-options li:hover button.day, #loading-options li button.day.active{
    background-image: url(./assets/images/day-active.png);
}
#loading-options li button.night{
    background-image: url(./assets/images/night.png);
}
#loading-options li:hover button.night, #loading-options li button.night.active{
    background-image: url(./assets/images/night-active.png);
}
#loading-options li button.blue-sky{
    background-image: url(./assets/images/blue-sky.png);
}
#loading-options li:hover button.blue-sky, #loading-options li button.blue-sky.active{
    background-image: url(./assets/images/blue-sky-active.png);
}
#loading-options li button.rain{
    background-image: url(./assets/images/rain.png);
}
#loading-options li:hover button.rain, #loading-options li button.rain.active{
    background-image: url(./assets/images/rain-active.png);
}
#loading-options li button.thunder-strom{
    background-image: url(./assets/images/thunder-strom.png);
}
#loading-options li:hover button.thunder-strom, #loading-options li button.thunder-strom.active{
    background-image: url(./assets/images/thunder-strom-active.png);
}
#loading-options li button.snow{
    background-image: url(./assets/images/snow.png);
}
#loading-options li:hover button.snow, #loading-options li button.snow.active{
    background-image: url(./assets/images/snow-active.png);
}
#loading-options li button.random{
    background-image: url(./assets/images/random.png);
}
#loading-options li:hover button.random, #loading-options li button.random.active{
    background-image: url(./assets/images/random-active.png);
}
#loading-options li button.ok{
    background-image: url(./assets/images/ok.png);
}
#loading-options li:hover button.ok, #loading-options li button.ok.active{
    background-image: url(./assets/images/ok-active.png);
}
#loading-options li.seperator{
    width: 2px;
    background: #ccc;
    margin: 20px 40px 20px 0;
    display: inline-block;
    height: 100px;
}
.graveyard .sub-header, .catacombs .sub-header{
    background-image: url(./assets/images/header.jpg);
    height: 35px;
    background-position: center -15px;
    position: absolute;
    z-index: 98;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 50px;
}
.graveyard .sub-header .btn-left, .catacombs .sub-header .btn-left{
    border: 1px solid #908F8C;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0 12px 12px 0;
    height: 23px;
    margin: 3px -2px;
    border-left: none;
    color: #FFF;
    line-height: 18px;
    width: 150px;
    font-size: 11px;
    position: absolute;
    left: 0;
    z-index: 10;
}
.graveyard .sub-header button i.right-icon, .catacombs .sub-header button i.right-icon{
    float: right;
    font-size: 13px;
    margin: 3px 0;
}
.graveyard .sub-header button i.left-icon, .catacombs .sub-header button i.left-icon{
    float: left;
    font-size: 13px;
    margin: 3px 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.graveyard .sub-header .btn-right, .catacombs .sub-header .btn-right{
    border: 1px solid #908F8C;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 12px 0 0 12px;
    height: 23px;
    margin: 3px -2px;
    border-right: none;
    color: #FFF;
    line-height: 18px;
    width: 150px;
    font-size: 11px;
    position: absolute;
    right: 0;
    z-index: 10;
}
.graveyard .sub-header .btn-middle, .catacombs .sub-header .btn-middle{
    border: 1px solid #908F8C;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 12px 12px;
    height: 23px;
    border-right: none;
    color: #FFF;
    line-height: 18px;
    width: 250px;
    font-size: 11px;
    position: absolute;
    left: 50%;
    top: -4px;
    margin-left: -120px;
    z-index: 10;
}
.graveyard-sky-container{
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
body #content.graveyard .graveyard-container, body #content.graveyard .catacombs-container{
    height: 600px;
    position: relative;
}
.graveyard-container > ul{
    transition: margin-left 1s linear;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    height: 515px;
    top: 85px;
    background-size: contain;
    background-position: bottom;
}
.graveyard-container > ul li{
    float: left;
    width: 512px;
    height: 515px;
}
.graveyard-container > ul li .grave{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    margin: 0 auto;
    position: absolute;
}
.graveyard-container > ul li .grave > div {
    color: #a2a2a2;
    width: 200px;
    margin: 320px auto auto;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #a2a2a2;
    border-radius: 5px;
}
.graveyard-container > ul li .grave > div p.name{
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}
.graveyard-container > ul li .grave > div p.name:hover{
    color: #b2973d;
}
.graveyard-container > ul li .grave > div span{
    display: inline-block;
    width: 45%;
    font-size: 10px;
    text-align: center;
}
.graveyard-container > ul li .grave > div label{
    display: block;
    color: #848484;
}
.rainfall{
    background-image: url(./assets/images/rain.gif);
    background-repeat: repeat;
    height: 600px;
    background-size: contain;
    width: 100%;
    position: absolute;
}
.snowfall{
    background-image: url(./assets/images/snow.gif);
    background-repeat: repeat;
    height: 600px;
    background-size: contain;
    width: 100%;
    position: absolute;
}
.thunderstrom{
    background-image: url(./assets/images/thunderstrom.gif);
    background-repeat: repeat;
    height: 600px;
    background-size: contain;
    width: 100%;
    position: absolute;
}
.grave-detail .col-left,
.catacomb-detail .col-left,
.stroke-tabs .col-right{
    display: inline-block;
    padding-top: 30px;
}
.grave-detail .col-right,
.catacomb-detail .col-right {
    float: right;
}
.grave-detail .user-image,
.catacomb-detail .user-image {
    border: 1px solid #ccc;
    width: 200px;
    height: 300px;
    margin: 0 30px;
}
.grave-detail .field-value,
.catacomb-detail .field-value {
    color: #FFF;
}
.catacombs .outer-wall{
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    overflow: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 30px;
    -webkit-transition: all 3s linear;
    transition: all 3s linear;
}
.catacombs .outer-wall.en{
    background-image: url(./assets/images/cat-main-en.png);
}
.catacombs .outer-wall.pl{
    background-image: url(./assets/images/cat-main-pl.png);
}
.catacombs .gate{
    height: 500px;
    position: absolute;
    top: 175px;
    left: 385px;
    width: 300px;
    z-index: 10;
    background-size: contain;
    background-image: url(./assets/images/cat-door.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: -webkit-transform 3s linear;
    transition: transform 3s linear;
    transition: transform 3s linear, -webkit-transform 3s linear;
    -webkit-transform: perspective(300) rotateY(0deg);
    -webkit-transform-origin: 0% 0%;
}
.catacombs .gate:hover {
    /*background-image: url(./assets/images/cat-door-light.png);*/
}
.catacombs.opening-gate .gate {
    -webkit-transform: perspective(300) rotateY(50deg);
    -webkit-transform-origin: 0% 0%;
}
.catacombs.moving-into-dane .outer-wall{
    transform: scale(4.2);
}
.catacombs.moving-into-dane .dane-way{
    transform: scale(8.0);
    background-position: center -150px;
}
.catacombs.moving-into-dane .gate, 
.catacombs.moving-into-dane .left-noticeboard, 
.catacombs.moving-into-dane .top-noticeboard{
    display: none;
}
.catacombs .dane-way{
    background-image: url(./assets/images/cat-dane.png);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 7;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: all 3s linear;
    transition: all 3s linear;
}
.catacombs.reached-into-dane .dane-way,
.catacombs.reached-into-dane .outer-wall{
    display: none;
}
.catacombs .catacombs-container{
    background-image: url(./assets/images/cat-wall-minor.jpg);
    background-repeat: repeat-x;
    height: 435px;
}
.catacombs .catacombs-container:after{
    content: '';
    display: block;
    background-image: url(./assets/images/cat-bottom-wall.jpg);
    height: 165px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
}

.catacombs-container > ul{
    transition: margin-left 1s linear;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 85px;
    background-size: contain;
    background-position: bottom
}
.catacombs-container > ul li{
    float: left;
    width: 512px;
    height: 600px;
}
.catacombs-container > ul li .catacomb{
    height: 600px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 70%;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
}
.catacombs-container > ul li .catacomb > .style {
    width: 400px;
    height: 300px;
    position: absolute;
    background: #000;
    top: 0;
    left: 50px;
    background-size: contain;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center 0;
}
.catacombs-container > ul li .catacomb > .detail {
    color: #a2a2a2;
    width: 250px;
    margin: 120px auto;
    font-size: 13px;
    min-height: 100px;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #a2a2a2;
    border-radius: 5px;
}
.catacombs-container > ul li .catacomb > .slab{
    display: block;
    background-image: url(./assets/images/cat-stand.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 90px;
    background-size: cover;
    background-position: center 0;
    bottom: 200px;
}
.catacombs-container > ul li .catacomb > .candle-stand{
    display: block;
    background-image: url(./assets/images/cat-candle.png);
    background-repeat: no-repeat;
    height: 70px;
    width: 50px;
    background-size: contain;
    position: absolute;
    bottom: 260px;
    background-position: 0 20px;
    left: 80px;
}
.catacombs-container > ul li .catacomb > div p.name{
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}
.catacombs-container > ul li .catacomb > div p.name:hover{
    color: #b2973d;
}
.catacombs-container > ul li .catacomb > div span{
    display: inline-block;
    width: 45%;
    font-size: 10px;
    text-align: center;
}
.catacombs-container > ul li .catacomb > div label{
    display: block;
    color: #848484;
}
.dialog {
    padding: 10px;
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid #999;
    border-radius: 5px;
    margin: 0 auto;
    width: 550px;
    position: absolute;
    z-index: 999;
    top: 90px;
    min-height: 250px;
    left: 50%;
    margin-left: -240px;
}
.dialog .close-btn{
    position: absolute;
    top: -30px;
    right: -10px;
    background: none;
    color: #FFF;
    font-size: 20px;
    border: none;
}
.dialog-overlay {    
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    background: rgba(0,0,0,0.3);
}
@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -100px 0px;}
}
@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -100px 0px;}
}
