<div id="content" class="grave-loading">
  <app-logo></app-logo>
  <ul id="loading-options">
      <li>
        <label>_day_</label>
        <button class="btn btn-day"></button>
      </li>
      <li>
          <label>_night_</label>
          <button class="btn btn-night"></button>
      </li>
      <li class="seperator"></li>
      <li>
          <label>_blue_sky_</label>
          <button class="btn btn-night"></button>
      </li>
      <li>
          <label>_rain_</label>
          <button class="btn btn-night"></button>
      </li>
      <li>
          <label>_thunderstrom_</label>
          <button class="btn btn-night"></button>
      </li>
      <li>
          <label>_snow_</label>
          <button class="btn btn-night"></button>
      </li>
      <li class="seperator"></li>
      <li>
          <label>_random_</label>
          <button class="btn btn-night"></button>
      </li>
      <li>
          <label></label>
          <button class="btn btn-night"></button>
      </li>
  </ul>
</div>