<div id="content" class="notice-bg" 
[style.backgroundImage]="'url('+ imageService.getImage('assets/images/noticeboard.png') +')'">
  <app-user-mgt></app-user-mgt>
  <app-logo></app-logo>
  <div class="fill-tabs">
      <div class="tab-bar">
          <a (click)="openTab('graveyard-noticeboard')" [ngClass]="{'active': (selectedTab == 'graveyard-noticeboard')}" translate>animal_graveyard.noticeboard.tabs.graveyard_noticeboard.title</a>
          <a (click)="openTab('book-of-dead')" [ngClass]="{'active': (selectedTab == 'book-of-dead')}" translate>animal_graveyard.noticeboard.tabs.book_of_dead.title</a>
          <a (click)="openTab('search')" [ngClass]="{'active': (selectedTab == 'search')}" translate>animal_graveyard.noticeboard.tabs.search.title</a>
          <a (click)="openTab('graveyard-burial')" [ngClass]="{'active': (selectedTab == 'graveyard-burial')}" translate>animal_graveyard.noticeboard.tabs.graveyard_burial.title</a>
      </div>
      <div class="tabs">
          <div id="graveyard-noticeboard"  
          [style.display]="(selectedTab == 'graveyard-noticeboard') ? 'block' : 'none'">
          <div class="popular-grave-col">
              <div class="tile" *ngFor="let animal of prioritizedAnimals" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/floating-tile.png') +')'">
                <p translate>animal_graveyard.noticeboard.tabs.graveyard_noticeboard.will_be_sadly_missed</p>
                <p class="name">{{animal.name}}</p>
                  <p>
                      <span><label><i class="fas fas-select-all"></i></label>{{animal.date_birth}}</span>
                      <span><label><i class="fa fa-plus"></i></label>{{animal.date_death}}</span>
                  </p>
              </div>
          </div>
          <div class="options-col">
              <div class="option">
                  <button (click)="gotoGraveyard();" translate>animal_graveyard.noticeboard.tabs.graveyard_noticeboard.go_to_graveyard</button>
              </div>
              <div class="option">
                  <button translate>animal_graveyard.noticeboard.tabs.graveyard_noticeboard.choose_graveyard</button>
                  <select>
                      <option>Municipal</option>
                      <option>Municipal</option>
                      <option>Municipal</option>
                  </select>
              </div>
              <div class="option">
                  <button translate>animal_graveyard.noticeboard.tabs.graveyard_noticeboard.grave_number</button>
                  <input type="text"/>
              </div>
              <div class="option">
                  <button routerLink="/home" translate>animal_graveyard.noticeboard.tabs.graveyard_noticeboard.go_back_to_main_gate</button>
              </div>
          </div>
          <div class="advertisement-col">
              <div *ngFor="let advertisement of advertisements" class="tile" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/floating-tile.png') +')'">
                  <img *ngIf="advertisement.image" [attr.src]="advertisement.image" />
                  <p *ngIf="advertisement.text">{{advertisement.text}}</p>
                  <a *ngIf="advertisement.url" [attr.href]="advertisement.url" target="_blank">{{advertisement.url}}</a>
              </div>
          </div>
          </div>
          <div id="book-of-dead" [style.display]="(selectedTab == 'book-of-dead') ? 'block' : 'none'">
              <div *ngIf="loadingData" class="info" translate>animal_graveyard.noticeboard.tabs.book_of_dead.loading_data</div>
              <table *ngIf="!loadingData">
                  <thead>
                      <tr>
                          <td colspan="5">
                              <span class="label left-item" translate>animal_graveyard.noticeboard.tabs.book_of_dead.show</span>
                              <button class="page" *ngFor="let alphabet of alphabetPages" (click)="getAnimalWithFirstname(alphabet)">
                                  <span [ngClass]="{'active': (alphabet == selectedDeadAlphabet)}">{{alphabet}}</span>                                 
                              </button>
                              <button class="page right-item" (click)="showAllAnimals();" translate>animal_graveyard.noticeboard.tabs.book_of_dead.show_all</button>
                          </td>
                      </tr>
                      <tr>
                          <th class="x">*</th>
                          <th class="xxx" translate>animal_graveyard.noticeboard.tabs.book_of_dead.surname_firstname</th>
                          <th class="xx" translate>animal_graveyard.noticeboard.tabs.book_of_dead.dob</th>
                          <th class="xx" translate>animal_graveyard.noticeboard.tabs.book_of_dead.passed_away</th>
                          <th class="xx" translate>animal_graveyard.noticeboard.tabs.book_of_dead.burial</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let animal of animals"  (click)="loadingAnimal(animal, 'book-of-dead')">
                          <td class="x text-center">{{ animal.position }}</td>
                          <td class="xxx">{{animal.name}}</td>
                          <td class="xx text-center">{{animal.date_birth}}</td>
                          <td class="xx text-center">{{animal.date_death}}</td>
                          <td class="xx text-center">{{(_global.getLanguage() == _global.LANGUAGES[0]) ? animal.genus_en : animal.genus_pl}}</td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                          <td colspan="2">
                              <span class="left-item">
                                  <button class="page" (click)="getPreviousPageAnimals()" [ngClass]="{'disabled': isNavigatePreviousAnimalDisabled }">
                                      <i class="fa fa-backward"></i>
                                      <span translate>&nbsp;&nbsp;animal_graveyard.noticeboard.tabs.book_of_dead.previous</span>
                                  </button>
                              </span>
                          </td>
                          <td colspan="2">
                              <button *ngFor="let page of animalListPages;" class="page" (click)="getAnimalsWithPageNumber(page)">
                                  <span [ngClass]="{'active': (page == selectedAnimalPage)}">{{page}}</span>
                                  <span class="page-seperator">::</span>
                              </button>
                          </td>
                          <td>
                              <span class="right-item">
                                  <button class="page" (click)="getNextPageAnimals()" [ngClass]="{'disabled': isNavigateNextAnimalDisabled }">
                                      <span translate>animal_graveyard.noticeboard.tabs.book_of_dead.next&nbsp;&nbsp;</span>
                                      <i class="fa fa-forward"></i>
                                  </button>
                              </span>
                          </td>
                      </tr>
                  </tfoot>
              </table>
          </div>
          <div id="search" [style.display]="(selectedTab == 'search') ? 'block' : 'none'">
              <div class="search-form" *ngIf="isSearchFormVisible">
                  <h4 translate>animal_graveyard.noticeboard.tabs.search.form.find_grave</h4>
                  <p translate>animal_graveyard.noticeboard.tabs.search.form.enter_at_least_one_field</p>
                  <form>
                      <label>
                          <span translate>animal_graveyard.noticeboard.tabs.search.form.name</span>
                          <input type="text" [(ngModel)]="name" name="name"/>
                      </label>
                      <label>
                          <span>
                              <span translate>animal_graveyard.noticeboard.tabs.search.form.dob</span>
                              <span class="info">[dd-mm-yyyy]</span>
                          </span>
                          <input type="date" [(ngModel)]="dob" name="dob"/>
                      </label>
                      <label>
                          <span>
                              <span translate>animal_graveyard.noticeboard.tabs.search.form.passed_away</span>
                              <span class="info">[dd-mm-yyyy]</span>
                          </span>
                          <input type="date" [(ngModel)]="dod" name="dod"/>
                      </label>
                      <label>
                          <button class="align-right" (click)="submitSearch()">
                              <span translate>animal_graveyard.noticeboard.tabs.search.form.search&nbsp;&nbsp;</span>
                              <i class="fa fa-forward"></i>
                          </button>
                      </label>
                  </form>
              </div>
              <div *ngIf="searchingData" class="info" translate>animal_graveyard.noticeboard.tabs.search.list.searching_data</div>
              <div *ngIf="!searchingData && !isSearchFormVisible" class="search-result" >
                  <table>
                      <thead>
                          <tr *ngIf="!isSearchFormVisible">
                              <td colspan="5">
                                  <button class="page left-item" (click)="backToSearch();"><i class="fa fa-backward"></i><span translate>&nbsp;&nbsp;animal_graveyard.noticeboard.tabs.search.list.back_to_search</span></button>
                              </td>
                          </tr>
                          <tr>
                              <td colspan="5">
                                  <span class="label left-item" translate>animal_graveyard.noticeboard.tabs.search.list.show </span>
                                  <button span class="page" *ngFor="let alphabet of alphabetPages" (click)="searchAnimalsWithFirstname(alphabet)">
                                     {{alphabet}}
                                  </button>
                                  <button class="page right-item" (click)="searchAllAnimals();" translate>animal_graveyard.noticeboard.tabs.search.list.show_all</button>
                              </td>
                          </tr>
                          <tr>
                              <th class="x">*</th>
                              <th class="xxx" translate>animal_graveyard.noticeboard.tabs.search.list.surname_firstname</th>
                              <th class="xx" translate>animal_graveyard.noticeboard.tabs.search.list.dob</th>
                              <th class="xx" translate>animal_graveyard.noticeboard.tabs.search.list.passed_away</th>
                              <th class="xx" translate>animal_graveyard.noticeboard.tabs.search.list.burial</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let animal of searchedAnimals" (click)="loadingAnimal(animal, 'search')">
                              <td class="x">{{ animal.position }}</td>
                              <td class="xxx">{{ animal.name }}</td>
                              <td class="xx text-center">{{animal.date_birth}}</td>
                              <td class="xx text-center">{{animal.date_death}}</td>
                              <td class="xx text-center">{{(_global.getLanguage() == _global.LANGUAGES[0]) ? animal.genus_en : animal.genus_pl}}</td>
                          </tr>
                      </tbody>
                      <tfoot>
                          <tr>
                              <td colspan="2">
                                  <span class="left-item">
                                      <button class="page" (click)="searchPreviousPageAnimals()" [ngClass]="{'disabled': isNavigatePreviousSearchedAnimalDisabled }">
                                          <i class="fa fa-backward"></i>
                                          <span translate>&nbsp;&nbsp;animal_graveyard.noticeboard.tabs.search.list.previous</span>
                                      </button >
                                  </span>
                              </td>
                              <td colspan="2">
                                  <button *ngFor="let page of searchedAnimalPages;" class="page" (click)="searchAnimalsWithPageNumber(page)">
                                      <span [ngClass]="{'active': (page == selectedSearchedAnimalPage)}">{{page}}</span>
                                      <span class="page-seperator">::</span>
                                  </button>
                              </td>
                              <td>
                                  <span class="right-item">
                                      <button class="page" (click)="searchNextPageAnimals()" [ngClass]="{'disabled': isNavigateNextSearchedAnimalDisabled }">
                                          <span translate>animal_graveyard.noticeboard.tabs.search.list.next&nbsp;&nbsp;</span>
                                          <i class="fa fa-forward"></i>
                                      </button>
                                  </span>
                              </td>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
          <div id="graveyard-burial"  [style.display]="(selectedTab == 'graveyard-burial') ? 'block' : 'none'">
                <div *ngIf="(graveyardBurialCurrentStep == 1)">
                    <h4>
                        <span translate>animal_graveyard_burial.title</span>&nbsp;
                        <span translate>animal_graveyard_burial.step1.choose_graveyard</span>&nbsp;
                        <span translate>animal_graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>animal_graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <form>
                        <label>
                            <span translate>animal_graveyard_burial.step1.choose_grave</span>
                            <select name="graveyardBurialSelectedSubType" [(ngModel)]="graveyardBurialSelectedSubType">
                                <option value="single" translate>animal_graveyard_burial.step1.single</option>
                            </select>
                        </label>
                        <label>
                            <button class="align-right" (click)="graveyardBurialNextStep()">
                                <span translate>animal_graveyard_burial.next&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 2)">
                    <h4>
                        <span translate>animal_graveyard_burial.title</span>&nbsp;
                        <span translate>animal_graveyard_burial.step2.choose_grave_stone</span>&nbsp;
                        <span translate>animal_graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>animal_graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <div class="tile-scroll-content">
                        <div class="tile" *ngFor="let stone of graveyardBurialStones"
                        [ngClass]="{'selected': (graveyardBurialSelectedStoneData == stone.data)}" (click)="selectGraveyardBurialStone(stone.data)">
                            <img [src]="stone.min"/>
                            <div class="img-hover" [ngStyle]="{'background-image': 'url(' + stone.max + ')'}"></div>
                        </div>
                    </div>
                    <form>
                        <label>
                            <button class="align-left" (click)="graveyardBurialPreviousStep()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;animal_graveyard_burial.prev</span>
                            </button>
                            <button class="align-right" (click)="graveyardBurialNextStep()">
                                <span translate>animal_graveyard_burial.next&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 3)">
                    <h4>
                        <span translate>animal_graveyard_burial.title</span>&nbsp;
                        <span translate>animal_graveyard_burial.step3.entry_form_part_1</span>&nbsp;
                        <span translate>animal_graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>animal_graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <form>
                        <label>
                            <span translate>animal_graveyard_burial.step3.name_of_your_pet<sup>*</sup></span>
                            <input type="text" [(ngModel)]="graveyardBurialPetName" name="graveyardBurialPetName">
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step3.genus<sup>*</sup></span>
                            <select [(ngModel)]="graveyardBurialGenus" name="graveyardBurialGenus">
                                <option *ngFor="let object of graveyardBurialAnimalGenusList" [value]="object.al_id">{{(currentLang == 'en') ? object.name_en : object.name_pl }}</option>
                            </select>
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step3.type<sup>*</sup></span>
                            <input type="text" [(ngModel)]="graveyardBurialPetType" name="graveyardBurialPetType">
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step3.gender<sup>*</sup></span>
                            <input type="radio" value="2" [(ngModel)]="graveyardBurialGender" name="graveyardBurialGender">
                            <span style="width: 75px;font-size: 12px;" translate>animal_graveyard_burial.step3.male</span>&nbsp;&nbsp;
                            <input type="radio" value="1" [(ngModel)]="graveyardBurialGender" name="graveyardBurialGender">
                            <span style="width: 75px;font-size: 12px;" translate>animal_graveyard_burial.step3.female</span>&nbsp;&nbsp;
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step3.date_of_birth<sup>*</sup></span>
                            <input type="date" [(ngModel)]="graveyardBurialDOB" name="graveyardBurialDOB">
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step3.passed_away<sup>*</sup></span>
                            <input type="date" [(ngModel)]="graveyardBurialDOD" name="graveyardBurialDOD">
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step3.owner_firstname<sup>*</sup></span>
                            <input type="text" [(ngModel)]="graveyardBurialOwnerFirstname" name="graveyardBurialOwnerFirstname">
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step3.owner_lastname<sup>*</sup></span>
                            <input type="text" [(ngModel)]="graveyardBurialOwnerLastname" name="graveyardBurialOwnerLastname">
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step3.upload_photos</span>
                            <input #burialphoto type="file" onclick="value = null" name="burial-photo" id="burial-photo" style="display: none;" (change)="uploadGraveyardBurialPhotos(burialphoto.files)"/>
                            <button (click)="burialphoto.click();">
                                <span translate>animal_graveyard_burial.step3.upload_photos&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                    <p class="tile" *ngFor="let image of graveyardBurialImages">
                        <span class="featured" *ngIf="image.is_portrait"><i class="fa fa-star"></i></span>
                        <img [src]="image.url"/>
                    </p>
                    <p><sup>*</sup><span translate>animal_graveyard_burial.step3.required</span></p>
                    <form>
                        <label>
                            <button class="align-left" (click)="graveyardBurialPreviousStep()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;animal_graveyard_burial.prev</span>
                            </button>
                            <button class="align-right" (click)="graveyardBurialNextStep()">
                                <span translate>animal_graveyard_burial.next&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 4)">
                    <h4>
                        <span translate>animal_graveyard_burial.title</span>&nbsp;
                        <span translate>animal_graveyard_burial.step4.entry_form_part_2</span>&nbsp;
                        <span translate>animal_graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>animal_graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <form>
                        <label>
                            <span translate>animal_graveyard_burial.step4.in_memoriam</span>
                            <textarea class="large-box" [(ngModel)]="graveyardBurialInMemoriam" name="graveyardBurialInMemoriam"></textarea>
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step4.signature</span>
                            <input type="text" class="align-right"  [(ngModel)]="graveyardBurialSignature" name="graveyardBurialSignature"/>
                        </label>
                        <label>
                            <button class="align-left" (click)="graveyardBurialPreviousStep()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;animal_graveyard_burial.prev</span>
                            </button>
                            <button class="align-right" (click)="graveyardBurialNextStep()">
                                <span translate>animal_graveyard_burial.next&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 5)">
                    <h4>
                        <span translate>animal_graveyard_burial.title</span>&nbsp;
                        <span translate>animal_graveyard_burial.step5.confirm_your_entry</span>&nbsp;
                        <span translate>animal_graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>animal_graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <form>
                        <label>
                            <span translate>animal_graveyard_burial.step5.name_of_pet</span>
                            <span>{{graveyardBurialPetName}}</span>
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step5.genus</span>
                            <span>{{graveyardBurialGenus}}</span>
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step5.date_of_birth</span>
                            <span>{{graveyardBurialDOB}}</span>
                        </label>
                        <label>
                            <span translate>animal_graveyard_burial.step5.passed_away</span>
                            <span>{{graveyardBurialDOD}}</span>
                        </label>
                        <label>
                            <button class="align-left" (click)="graveyardBurialPreviousStep()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;animal_graveyard_burial.prev</span>
                            </button>
                            <button class="align-right" (click)="graveyardBurialNextStep()">
                                <span translate>animal_graveyard_burial.next&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 6)">
                    <h4>
                        <span translate>animal_graveyard_burial.title</span>&nbsp;
                        <span translate>animal_graveyard_burial.step6.confirm_please</span>&nbsp;
                        <span translate>animal_graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>animal_graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <table>
                        <tbody>
                            <tr *ngFor="let entry of graveyardBurialAnimals; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{entry.petname}}</td>
                                <td>
                                    <span translate>graveyard_burial.step7.passed_away&nbsp;</span>
                                    <span>{{entry.dod}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                        <label>
                            <span translate>animal_graveyard_burial.step6.burial_fee</span>
                            <span style="color:#fff">{{graveyardBurialFee}}&nbsp;{{graveyardBurialCurrency}}</span>
                        </label>
                        <p translate>animal_graveyard_burial.step6.multi_layered_authentication_credit_cards</p>
                        <label>
                            <button class="align-left" (click)="graveyardBurialPreviousStep()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;animal_graveyard_burial.prev</span>
                            </button>
                            <button class="align-right" (click)="confirmAddingGraveyardBurial();">
                                <span translate>animal_graveyard_burial.step6.confirm&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
          </div>
      </div>
  </div>
</div>