<div *ngIf="!showLoadingScreen" id="content" class="notice-bg">
    <app-logo></app-logo>
    <div class="tabs-container">
        <div class="tab-bar">
            <a (click)="openTab('graveyard-noticeboard')" [ngClass]="{'active': (activeTab == 'graveyard-noticeboard')}" translate>graveyard.noticeboard.tabs.graveyard_noticeboard.title</a>
            <a (click)="openTab('book-of-dead')" [ngClass]="{'active': (activeTab == 'book-of-dead')}" translate>graveyard.noticeboard.tabs.book_of_dead.title</a>
            <a (click)="openTab('search')" [ngClass]="{'active': (activeTab == 'search')}" translate>graveyard.noticeboard.tabs.search.title</a>
            <a (click)="openTab('graveyard-burial')" [ngClass]="{'active': (activeTab == 'graveyard-burial')}" translate>graveyard.noticeboard.tabs.graveyard_burial.title</a>
            <a (click)="openTab('reservation')" [ngClass]="{'active': (activeTab == 'reservation')}" translate>graveyard.noticeboard.tabs.reservation.title</a>
        </div>
        <div class="tabs">
            <div id="graveyard-noticeboard"  
            [style.display]="(activeTab == 'graveyard-noticeboard') ? 'block' : 'none'">
            <div class="popular-grave-col">
                <div class="tile" *ngFor="let user of tileUsers" >
                    <p class="name">{{[].constructor.isArray(user.name1) ? user.name1[0] : user.name1}} {{user.surname}}</p>
                    <p>Will be sadly missed</p>
                    <p>
                        <span><label>Born</label>{{user.date_birth}}</span>
                        <span><label>Passed Away</label>{{user.date_death}}</span>
                    </p>
                </div>
            </div>
            <div class="options-col">
                <div class="option">
                    <button translate>graveyard.noticeboard.tabs.graveyard_noticeboard.go_to_graveyard</button>
                </div>
                <div class="option">
                    <button translate>graveyard.noticeboard.tabs.graveyard_noticeboard.choose_graveyard</button>
                    <select>
                        <option>Municipal</option>
                        <option>Municipal</option>
                        <option>Municipal</option>
                    </select>
                </div>
                <div class="option">
                    <button translate>graveyard.noticeboard.tabs.graveyard_noticeboard.special_grave</button>
                </div>
                <div class="option">
                    <button translate>graveyard.noticeboard.tabs.graveyard_noticeboard.grave_number</button>
                    <input type="text"/>
                </div>
                <div class="option">
                    <button translate>graveyard.noticeboard.tabs.graveyard_noticeboard.go_back_to_main_gate</button>
                </div>
            </div>
            <div class="advertisement-col">
                <div *ngFor="let advertisement of advertisements" class="tile">
                    <img *ngIf="advertisement.image" [attr.src]="advertisement.image" />
                    <p *ngIf="advertisement.text">{{advertisement.text}}</p>
                    <a *ngIf="advertisement.url" [attr.href]="advertisement.url" target="_blank">{{advertisement.url}}</a>
                </div>
            </div>
            </div>
            <div id="book-of-dead" [style.display]="(activeTab == 'book-of-dead') ? 'block' : 'none'">
                <div *ngIf="loadingUserData" translate>graveyard.noticeboard.tabs.book_of_dead.loading_data</div>
                <table *ngIf="!loadingUserData">
                    <thead>
                        <tr>
                            <td colspan="5">
                                <span class="label left-item" translate>graveyard.noticeboard.tabs.book_of_dead.show</span>
                                <button class="page" *ngFor="let page of alphabetPages" (click)="getUsersWithName(page)">
                                    {{page}}
                                </button>
                                <button class="page right-item" (click)="showAllUsers();" translate>graveyard.noticeboard.tabs.book_of_dead.show_all</button>
                            </td>
                        </tr>
                        <tr>
                            <th class="x">*</th>
                            <th class="xxx" translate>graveyard.noticeboard.tabs.book_of_dead.surname_firstname</th>
                            <th class="xx" translate>graveyard.noticeboard.tabs.book_of_dead.dob</th>
                            <th class="xx" translate>graveyard.noticeboard.tabs.book_of_dead.passed_away</th>
                            <th class="xx" translate>graveyard.noticeboard.tabs.book_of_dead.burial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<ng-scrollbar>-->
                            <tr *ngFor="let user of users; let i = index"  (click)="loadingGrave(user)">
                                <td class="x text-center">{{ i +1 }}</td>
                                <td class="xxx">{{[].constructor.isArray(user.name1) ? user.name1[0] : user.name1}} {{user.surname}}</td>
                                <td class="xx text-center">{{user.date_birth}}</td>
                                <td class="xx text-center">{{user.date_death}}</td>
                                <td class="xx text-center">{{user.place_name}}</td>
                            </tr>
                        <!--</ng-scrollbar>-->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <span class="left-item">
                                    <button class="page" (click)="goBack()">
                                        <i class="fa fa-backward"></i>
                                        <span translate>&nbsp;&nbsp;graveyard.noticeboard.tabs.book_of_dead.previous</span>
                                    </button>
                                </span>
                            </td>
                            <td colspan="2">
                                <button *ngFor="let page of userPages;" class="page" (click)="getUsersWithPage(page)">
                                    {{page}}
                                    <span class="page-seperator">::</span>
                                </button>
                            </td>
                            <td>
                                <span class="right-item">
                                    <button class="page" (click)="goNext()">
                                        <span translate>graveyard.noticeboard.tabs.book_of_dead.next&nbsp;&nbsp;</span>
                                        <i class="fa fa-forward"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div id="search" [style.display]="(activeTab == 'search') ? 'block' : 'none'">
                <div class="search-form" *ngIf="_showform">
                    <h4 translate>graveyard.noticeboard.tabs.search.form.find_a_person</h4>
                    <p translate>graveyard.noticeboard.tabs.search.form.enter_any_one_field</p>
                    <form>
                        <label>
                            <span translate>graveyard.noticeboard.tabs.search.form.first_name</span>
                            <input type="text" [(ngModel)]="_userFirstname" name="_userFirstname"/>
                        </label>
                        <label>
                            <span translate>graveyard.noticeboard.tabs.search.form.surname_lastname</span>
                            <input type="text" [(ngModel)]="_userSurname" name="_userSurname"/>
                        </label>
                        <label>
                            <span>
                                <span translate>graveyard.noticeboard.tabs.search.form.dob</span>
                                <span class="info">[dd-mm-yyyy]</span>
                            </span>
                            <input type="date" [(ngModel)]="_userDob" name="_userDob"/>
                        </label>
                        <label>
                            <span>
                                <span translate>graveyard.noticeboard.tabs.search.form.dod</span>
                                <span class="info">[dd-mm-yyyy]</span>
                            </span>
                            <input type="date" [(ngModel)]="_userDod" name="_userDod"/>
                        </label>
                        <label>
                            <button class="align-right" (click)="searchUsers()">
                                <span translate>graveyard.noticeboard.tabs.search.form.search&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="loadingSearchUserData" translate>graveyard.noticeboard.tabs.search.list.searching_data</div>
                <div *ngIf="!loadingSearchUserData && !_showform" class="search-result" >
                    <table>
                        <thead>
                            <tr *ngIf="!_showform">
                                <td colspan="5">
                                    <button class="page left-item" (click)="backToSearch();"><i class="fa fa-backward"></i><span translate>&nbsp;&nbsp;graveyard.noticeboard.tabs.search.list.back_to_search</span></button>
                                        
                                        
                                    <!--</button>-->
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <span class="label left-item" translate>graveyard.noticeboard.tabs.search.list.show </span>
                                    <button span class="page" *ngFor="let page of alphabetPages" (click)="getSearchedUsersWithName(page)">
                                       {{page}}
                                    </button>
                                    <button class="page right-item" (click)="showAllSearchedUsers();" translate>graveyard.noticeboard.tabs.search.list.show_all</button>
                                </td>
                            </tr>
                            <tr>
                                <th class="x">*</th>
                                <th class="xxx" translate>graveyard.noticeboard.tabs.search.list.surname_firstname</th>
                                <th class="xx" translate>graveyard.noticeboard.tabs.search.list.dob</th>
                                <th class="xx" translate>graveyard.noticeboard.tabs.search.list.passed_away</th>
                                <th class="xx" translate>graveyard.noticeboard.tabs.search.list.burial</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users; let i = index">
                                <td class="x">{{ i +1 }}</td>
                                <td class="xxx">{{[].constructor.isArray(user.name1) ? user.name1[0] : user.name1}} {{user.surname}}</td>
                                <td class="xx text-center">{{user.date_birth}}</td>
                                <td class="xx text-center">{{user.date_death}}</td>
                                <td class="xx text-center">{{user.place_name}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <span class="left-item">
                                        <button class="page" (click)="goSearchBack()">
                                            <i class="fa fa-backward"></i>
                                            <span translate>&nbsp;&nbsp;graveyard.noticeboard.tabs.search.list.previous</span>
                                        </button >
                                    </span>
                                </td>
                                <td colspan="2">
                                    <button *ngFor="let page of userSearchedPages;" class="page" (click)="getSearchedUsersWithPage(page)">
                                        {{page}}
                                        <span class="page-seperator">::</span>
                                    </button>
                                </td>
                                <td>
                                    <span class="right-item">
                                        <button class="page" (click)="goSearchNext()">
                                            <span translate>graveyard.noticeboard.tabs.search.list.next&nbsp;&nbsp;</span>
                                            <i class="fa fa-forward"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div id="graveyard-burial"  [style.display]="(activeTab == 'graveyard-burial') ? 'block' : 'none'">
            <p translate>graveyard.noticeboard.tabs.graveyard_burial.title</p>
            </div>
            <div id="reservation"  [style.display]="(activeTab == 'reservation') ? 'block' : 'none'">
                <p translate>graveyard.noticeboard.tabs.reservation.title</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showLoadingScreen" id="content" class="loading-bg">
    <app-logo></app-logo>
    <ul id="loading-options">
        <li>
            <label translate>graveyard.loading_screen.day</label>
            <button class="day"></button>
        </li>
        <li>
            <label translate>graveyard.loading_screen.night</label>
            <button class="night"></button>
        </li>
        <li class="seperator"></li>
        <li>
            <label translate>graveyard.loading_screen.blue_sky</label>
            <button class="blue-sky"></button>
        </li>
        <li>
            <label translate>graveyard.loading_screen.rain</label>
            <button class="rain"></button>
        </li>
        <li>
            <label translate>graveyard.loading_screen.thunder_strom</label>
            <button class="thunder-strom"></button>
        </li>
        <li>
            <label translate>graveyard.loading_screen.snow</label>
            <button class="snow"></button>
        </li>
        <li class="seperator"></li>
        <li>
            <label translate>graveyard.loading_screen.random</label>
            <button class="random"></button>
        </li>
        <li>
            <label>&nbsp;</label>
            <button class="ok" (click)="showGraveyard();"></button>
        </li>
    </ul>
</div>