<div *ngIf="!isGraveLoadingScreenVisible" id="content" class="notice-bg" 
[style.backgroundImage]="'url('+ imageService.getImage('assets/images/noticeboard.png') +')'">
    <app-user-mgt></app-user-mgt>
    <app-logo></app-logo>
    <div class="fill-tabs">
        <div class="tab-bar">
            <a (click)="openTab('graveyard-noticeboard')" [ngClass]="{'active': (selectedTab == 'graveyard-noticeboard')}" translate>graveyard.noticeboard.tabs.graveyard_noticeboard.title</a>
            <a (click)="openTab('book-of-dead')" [ngClass]="{'active': (selectedTab == 'book-of-dead')}" translate>graveyard.noticeboard.tabs.book_of_dead.title</a>
            <a (click)="openTab('search')" [ngClass]="{'active': (selectedTab == 'search')}" translate>graveyard.noticeboard.tabs.search.title</a>
            <a (click)="openTab('graveyard-burial')" [ngClass]="{'active': (selectedTab == 'graveyard-burial')}" translate>graveyard.noticeboard.tabs.graveyard_burial.title</a>
            <a (click)="openTab('reservation')" [ngClass]="{'active': (selectedTab == 'reservation')}" translate>graveyard.noticeboard.tabs.reservation.title</a>
        </div>
        <div class="tabs">
            <div id="graveyard-noticeboard"  
            [style.display]="(selectedTab == 'graveyard-noticeboard') ? 'block' : 'none'">
            <div class="popular-grave-col">
                <div class="tile" *ngFor="let user of prioritizeGraves" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/floating-tile.png') +')'">
                    <p class="name">{{[].constructor.isArray(user.name1) ? user.name1[0] : user.name1}} {{user.surname}}</p>
                    <p translate>graveyard.noticeboard.tabs.graveyard_noticeboard.will_be_sadly_missed</p>
                    <p>
                        <span><label>Born</label>{{user.date_birth}}</span>
                        <span><label>Passed Away</label>{{user.date_death}}</span>
                    </p>
                </div>
            </div>
            <div class="options-col">
                <div class="option" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/option-shadow.png') +')'">
                    <button (click)="gotoGraveyard();" 
                    [style.backgroundImage]="'url('+ imageService.getImage('assets/images/option-background.png') +')'"
                     translate>graveyard.noticeboard.tabs.graveyard_noticeboard.go_to_graveyard</button>
                </div>
                <div class="option">
                    <button translate>graveyard.noticeboard.tabs.graveyard_noticeboard.choose_graveyard</button>
                    <select>
                        <option>Municipal</option>
                        <option>Municipal</option>
                        <option>Municipal</option>
                    </select>
                </div>
                <div class="option">
                    <button (click)="goToCatacomb();" translate>graveyard.noticeboard.tabs.graveyard_noticeboard.catacombs</button>
                </div>
                <div class="option">
                    <button translate>graveyard.noticeboard.tabs.graveyard_noticeboard.grave_number</button>
                    <input type="text"/>
                </div>
                <div class="option">
                    <button routerLink="/home" translate>graveyard.noticeboard.tabs.graveyard_noticeboard.go_back_to_main_gate</button>
                </div>
            </div>
            <div class="advertisement-col">
                <div *ngFor="let advertisement of advertisements" class="tile" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/floating-tile.png') +')'">
                    <img *ngIf="advertisement.image" [attr.src]="advertisement.image" />
                    <p *ngIf="advertisement.text">{{advertisement.text}}</p>
                    <a *ngIf="advertisement.url" [attr.href]="advertisement.url" target="_blank">{{advertisement.url}}</a>
                </div>
            </div>
            </div>
            <div id="book-of-dead" [style.display]="(selectedTab == 'book-of-dead') ? 'block' : 'none'">
                <div *ngIf="loadingData" class="info" translate>graveyard.noticeboard.tabs.book_of_dead.loading_data</div>
                <table *ngIf="!loadingData">
                    <thead>
                        <tr>
                            <td colspan="5">
                                <span class="label left-item" translate>graveyard.noticeboard.tabs.book_of_dead.show</span>
                                <button class="page" *ngFor="let alphabet of alphabetPages" (click)="getGraveWithFirstname(alphabet)">
                                    <span [ngClass]="{'active': (alphabet == selectedDeadAlphabet)}">{{alphabet}}</span>                                 
                                </button>
                                <button class="page right-item" (click)="showAllGraves();" translate>graveyard.noticeboard.tabs.book_of_dead.show_all</button>
                            </td>
                        </tr>
                        <tr>
                            <th class="x">*</th>
                            <th class="xxx" translate>graveyard.noticeboard.tabs.book_of_dead.surname_firstname</th>
                            <th class="xx" translate>graveyard.noticeboard.tabs.book_of_dead.dob</th>
                            <th class="xx" translate>graveyard.noticeboard.tabs.book_of_dead.passed_away</th>
                            <th class="xx" translate>graveyard.noticeboard.tabs.book_of_dead.burial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users"  (click)="loadingGrave(user, 'book-of-dead')">
                            <td class="x text-center">{{ user.position }}</td>
                            <td class="xxx">{{[].constructor.isArray(user.name1) ? user.name1[0] : user.name1}} {{user.surname}}</td>
                            <td class="xx text-center">{{user.date_birth}}</td>
                            <td class="xx text-center">{{user.date_death}}</td>
                            <td class="xx text-center">{{user.place_name}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <span class="left-item">
                                    <button class="page" (click)="getPreviousPageGraves()" [ngClass]="{'disabled': isNavigatePreviousDeadDisabled }">
                                        <i class="fa fa-backward"></i>
                                        <span translate>&nbsp;&nbsp;graveyard.noticeboard.tabs.book_of_dead.previous</span>
                                    </button>
                                </span>
                            </td>
                            <td colspan="2">
                                <button *ngFor="let page of deadlistPages;" class="page" (click)="getGraveWithPageNumber(page)">
                                    <span [ngClass]="{'active': (page == selectedDeadPage)}">{{page}}</span>
                                    <span class="page-seperator">::</span>
                                </button>
                            </td>
                            <td>
                                <span class="right-item">
                                    <button class="page" (click)="getNextPageGraves()" [ngClass]="{'disabled': isNavigateNextDeadDisabled }">
                                        <span translate>graveyard.noticeboard.tabs.book_of_dead.next&nbsp;&nbsp;</span>
                                        <i class="fa fa-forward"></i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div id="search" [style.display]="(selectedTab == 'search') ? 'block' : 'none'">
                <div class="search-form" *ngIf="isSearchFormVisible">
                    <h4 translate>graveyard.noticeboard.tabs.search.form.find_a_person</h4>
                    <p translate>graveyard.noticeboard.tabs.search.form.enter_any_one_field</p>
                    <form>
                        <label>
                            <span translate>graveyard.noticeboard.tabs.search.form.first_name</span>
                            <input type="text" [(ngModel)]="firstname" name="firstname"/>
                        </label>
                        <label>
                            <span translate>graveyard.noticeboard.tabs.search.form.surname_lastname</span>
                            <input type="text" [(ngModel)]="surname" name="surname"/>
                        </label>
                        <label>
                            <span>
                                <span translate>graveyard.noticeboard.tabs.search.form.dob</span>
                                <span class="info">[dd-mm-yyyy]</span>
                            </span>
                            <input type="date" [(ngModel)]="dob" name="dob"/>
                        </label>
                        <label>
                            <span>
                                <span translate>graveyard.noticeboard.tabs.search.form.dod</span>
                                <span class="info">[dd-mm-yyyy]</span>
                            </span>
                            <input type="date" [(ngModel)]="dod" name="dod"/>
                        </label>
                        <label>
                            <button type="button" class="align-right" (click)="submitSearch()">
                                <span translate>graveyard.noticeboard.tabs.search.form.search&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="searchingData" class="info" translate>graveyard.noticeboard.tabs.search.list.searching_data</div>
                <div *ngIf="!searchingData && !isSearchFormVisible" class="search-result" >
                    <table>
                        <thead>
                            <tr *ngIf="!isSearchFormVisible">
                                <td colspan="5">
                                    <button class="page left-item" (click)="backToSearch();"><i class="fa fa-backward"></i><span translate>&nbsp;&nbsp;graveyard.noticeboard.tabs.search.list.back_to_search</span></button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    <span class="label left-item" translate>graveyard.noticeboard.tabs.search.list.show </span>
                                    <button span class="page" *ngFor="let alphabet of alphabetPages" (click)="searchGraveWithFirstname(alphabet)">
                                       {{alphabet}}
                                    </button>
                                    <button class="page right-item" (click)="searchAllGraves();" translate>graveyard.noticeboard.tabs.search.list.show_all</button>
                                </td>
                            </tr>
                            <tr>
                                <th class="x">*</th>
                                <th class="xxx" translate>graveyard.noticeboard.tabs.search.list.surname_firstname</th>
                                <th class="xx" translate>graveyard.noticeboard.tabs.search.list.dob</th>
                                <th class="xx" translate>graveyard.noticeboard.tabs.search.list.passed_away</th>
                                <th class="xx" translate>graveyard.noticeboard.tabs.search.list.burial</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of searchedUsers" (click)="loadingGrave(user, 'search')">
                                <td class="x">{{ user.position }}</td>
                                <td class="xxx">{{[].constructor.isArray(user.name1) ? user.name1[0] : user.name1}} {{user.surname}}</td>
                                <td class="xx text-center">{{user.date_birth}}</td>
                                <td class="xx text-center">{{user.date_death}}</td>
                                <td class="xx text-center">{{user.place_name}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <span class="left-item">
                                        <button class="page" (click)="searchPreviousPageGraves()" [ngClass]="{'disabled': isNavigatePreviousSearchedDeadDisabled }">
                                            <i class="fa fa-backward"></i>
                                            <span translate>&nbsp;&nbsp;graveyard.noticeboard.tabs.search.list.previous</span>
                                        </button >
                                    </span>
                                </td>
                                <td colspan="2">
                                    <button *ngFor="let page of searchedDeadPages;" class="page" (click)="searchGraveWithPageNumber(page)">
                                        <span [ngClass]="{'active': (page == selectedSearchPage)}">{{page}}</span>
                                        <span class="page-seperator">::</span>
                                    </button>
                                </td>
                                <td>
                                    <span class="right-item">
                                        <button class="page" (click)="searchNextPageGraves()" [ngClass]="{'disabled': isNavigateNextDeadSearchedDisabled }">
                                            <span translate>graveyard.noticeboard.tabs.search.list.next&nbsp;&nbsp;</span>
                                            <i class="fa fa-forward"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div id="graveyard-burial"  [style.display]="(selectedTab == 'graveyard-burial') ? 'block' : 'none'">
                <div *ngIf="(graveyardBurialCurrentStep == 1)">
                    <h4>
                        <span translate>graveyard_burial.title</span>&nbsp;
                        <span translate>graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <form>
                        <label>
                            <span translate>graveyard_burial.step1.choose</span>
                            <select name="graveyardBurialSelectedType" [(ngModel)]="graveyardBurialSelectedType" (change)="changeGraveyardBurialType();">
                                <option value="graveyard" translate>graveyard_burial.step1.graveyard</option>
                                <option value="catacomb" translate>graveyard_burial.step1.catacomb</option>
                            </select>
                        </label>
                        <label *ngIf="isGraveyardBurialSubTypeVisible">
                            <span translate>graveyard_burial.step1.choose_grave</span>
                            <select name="graveyardBurialSelectedSubType" [(ngModel)]="graveyardBurialSelectedSubType">
                                <option value="single" translate>graveyard_burial.step1.single</option>
                                <option value="family" translate>graveyard_burial.step1.family</option>
                                <option value="communal" translate>graveyard_burial.step1.communal</option>
                            </select>
                        </label>
                        <label>
                            <button class="align-right" (click)="graveyardBurialNextStep()">
                                <span translate>graveyard_burial.next&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 2)">
                    <h4>
                        <span translate>graveyard_burial.title</span>&nbsp;
                        <span translate>graveyard_burial.step2.choose_grave_stone</span>&nbsp;
                        <span translate>graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}&nbsp;
                        <select *ngIf="(graveyardBurialSelectedType == 'graveyard' && graveyardBurialSelectedSubType == 'single')" 
                             (change)="selectGraveyardBurialCommunity();" name="graveyardBurialSelectedCommunity" [(ngModel)]="graveyardBurialSelectedCommunity">
                            <option *ngFor="let object of graveyardBurialCommunities" [value]="object.community">{{object.community}}</option>
                        </select>
                    </h4>
                    <form *ngIf="(graveyardBurialSelectedType == 'graveyard' && graveyardBurialSelectedSubType == 'communal')">
                        <label>
                            <span translate>graveyard_burial.step2.name_of_clan</span>
                            <input type="text" [(ngModel)]="graveyardBurialClanName" name="graveyardBurialClanName"/>
                        </label>
                        <label>
                            <span translate>graveyard_burial.step2.enter_size</span>
                            <input type="text" [(ngModel)]="graveyardBurialSize" name="graveyardBurialSize"/>
                        </label>
                    </form>
                    <div class="tile-scroll-content" [ngClass]="{'small-height': (graveyardBurialSelectedType == 'graveyard' && graveyardBurialSelectedSubType == 'communal')}">
                        <div class="tile" *ngFor="let stone of graveyardBurialStones" 
                            [ngClass]="{'selected': (graveyardBurialSelectedStone == stone.data)}" (click)="selectGraveyardBurialStone(stone.data)">
                            <img [src]="stone.min"/>
                            <div class="img-hover" [ngStyle]="{'background-image': 'url(' + stone.max + ')'}"></div>
                        </div>
                    </div>
                    <form>
                        <label>
                            <button class="align-left" (click)="graveyardBurialPreviousStep()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;graveyard_burial.prev</span>
                            </button>
                            <button class="align-right" (click)="graveyardBurialNextStep()">
                                <span translate>graveyard_burial.next&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 3)">
                    <h4>
                        <span translate>graveyard_burial.title</span>&nbsp;
                        <span translate>graveyard_burial.step3.information_about_death_person</span>&nbsp;
                        <span translate>graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <form>
                        <label>
                            <span translate>graveyard_burial.step3.firstname<sup>*</sup></span>
                            <input type="text" [(ngModel)]="graveyardBurialFirstname" name="graveyardBurialFirstname">
                        </label>
                        <label>
                            <span translate>graveyard_burial.step3.surname_or_lastname<sup>*</sup></span>
                            <input type="text" [(ngModel)]="graveyardBurialLastname" name="graveyardBurialLastname">
                        </label>
                        <label>
                            <span translate>graveyard_burial.step3.date_of_birth<sup>*</sup></span>
                            <input type="date" [(ngModel)]="graveyardBurialDOB" name="graveyardBurialDOB">
                        </label>
                        <label>
                            <span translate>graveyard_burial.step3.passed_away<sup>*</sup></span>
                            <input type="date" [(ngModel)]="graveyardBurialDOD" name="graveyardBurialDOD">
                        </label>
                        <label>
                            <span translate>graveyard_burial.step3.gender<sup>*</sup></span>
                            <input type="radio" value="Male" [(ngModel)]="graveyardBurialGender" name="graveyardBurialGender">
                            <span style="width:50px;">Male</span>&nbsp;&nbsp;
                            <input type="radio" value="Female" [(ngModel)]="graveyardBurialGender" name="graveyardBurialGender">
                            <span style="width:50px;">Female</span>&nbsp;&nbsp;
                        </label>
                        <label>
                            <span translate>graveyard_burial.step3.upload_photos</span>
                            <input #burialphoto type="file" onclick="value = null" name="burial-photo" id="burial-photo" style="display: none;" (change)="uploadGraveyardBurialPhotos(burialphoto.files)"/>
                            <button (click)="burialphoto.click();">
                                <span translate>graveyard_burial.step3.upload_photos&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                    <p class="tile" *ngFor="let image of graveyardBurialImages">
                        <span class="featured" *ngIf="image.is_portrait"><i class="fa fa-star"></i></span>
                        <img [src]="image.url"/>
                    </p>
                    <p><sup>*</sup><span translate>graveyard_burial.step3.required</span></p>
                    <form>
                        <label>
                            <button class="align-left" (click)="graveyardBurialPreviousStep()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;graveyard_burial.prev</span>
                            </button>
                            <button class="align-right" (click)="graveyardBurialNextStep()">
                                <span translate>graveyard_burial.next&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 4)">
                    <h4>
                        <span translate>graveyard_burial.title</span>&nbsp;
                        <span translate>graveyard_burial.step4.information_about_death_person</span>&nbsp;
                        <span translate>graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <form>
                        <label>
                            <span translate>graveyard_burial.step4.in_memoriam</span>
                            <textarea class="large-box" [(ngModel)]="graveyardBurialInMemoriam" name="graveyardBurialInMemoriam"></textarea>
                        </label>
                        <label>
                            <span translate>graveyard_burial.step4.signature</span>
                            <input type="text" class="align-right"  [(ngModel)]="graveyardBurialSignature" name="graveyardBurialSignature"/>
                        </label>
                        <label>
                            <button class="align-left" (click)="graveyardBurialPreviousStep()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;graveyard_burial.prev</span>
                            </button>
                            <button class="align-right" (click)="graveyardBurialNextStep()">
                                <span translate>graveyard_burial.next&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 5)">
                    <h4>
                        <span translate>graveyard_burial.title</span>&nbsp;
                        <span translate>graveyard_burial.step5.confirm_your_entry</span>&nbsp;
                        <span translate>graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <form>
                        <label>
                            <span translate>graveyard_burial.step5.firstname</span>
                            <span>{{graveyardBurialFirstname}}</span>
                        </label>
                        <label>
                            <span translate>graveyard_burial.step5.surname_or_lastname</span>
                            <span>{{graveyardBurialLastname}}</span>
                        </label>
                        <label>
                            <span translate>graveyard_burial.step5.date_of_birth</span>
                            <span>{{graveyardBurialDOB}}</span>
                        </label>
                        <label>
                            <span translate>graveyard_burial.step5.passed_away</span>
                            <span>{{graveyardBurialDOD}}</span>
                        </label>
                        <label>
                            <span translate>graveyard_burial.step5.in_memoriam</span>
                            <span>{{graveyardBurialInMemoriam}}</span>
                        </label>
                        <label>
                            <span translate>graveyard_burial.step5.signature</span>
                            <span>{{graveyardBurialSignature}}</span>
                        </label>
                        <label>
                            <button class="align-left" (click)="graveyardBurialPreviousStep()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;graveyard_burial.prev</span>
                            </button>
                            <button class="align-right" (click)="graveyardBurialNextStep()">
                                <span translate>graveyard_burial.next&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 6)">
                    <h4>
                        <span translate>graveyard_burial.title</span>&nbsp;
                        <span translate>graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <h4>
                        <span translate>graveyard_burial.step6.size_of_grave</span>&nbsp;
                        <span>{{graveyardBurialSize}}&nbsp;</span>
                        <span translate>graveyard_burial.step6.people</span>
                    </h4>
                    <p translate>graveyard_burial.step6.list_of_dead_people_in_communal_grave</p>
                    <table>
                        <tbody>
                            <tr *ngFor="let entry of graveyardBurialPersons; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{entry.firstname +' '+ entry.lastname}}</td>
                                <td>
                                    <span translate>graveyard_burial.step6.passed_away&nbsp;</span>
                                    <span>{{entry.dod}}</span>
                                </td>
                                <td>
                                    <button (click)="changeGraveyardBurialPerson(entry)" 
                                    translate>graveyard_burial.step6.change</button>
                                </td>
                                <td>
                                    <button (click)="removeGraveyardBurialPerson(entry)" 
                                    translate>graveyard_burial.step6.remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                        <label>
                            <button *ngIf="!(graveyardBurialSize == graveyardBurialPersons.length)"
                            class="align-right" (click)="addAnotherPersonInGraveyardBurial()">
                                <span translate>graveyard_burial.step6.add_another_person</span>
                            </button>
                        </label>
                        <br/>
                        <br/>
                        <label>
                            <button class="align-left" (click)="graveyardBurialPreviousStep()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;graveyard_burial.prev</span>
                            </button>
                            <button class="align-right" (click)="graveyardBurialNextStep()" >
                                <span translate>graveyard_burial.step6.accept&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="(graveyardBurialCurrentStep == 7)">
                    <h4>
                        <span translate>graveyard_burial.title</span>&nbsp;
                        <span translate>graveyard_burial.step7.confirm_please</span>&nbsp;
                        <span translate>graveyard_burial.step</span>&nbsp;{{graveyardBurialCurrentStep}}
                        <span translate>graveyard_burial.of</span>&nbsp;{{graveyardBurialTotalSteps}}
                    </h4>
                    <p translate>graveyard_burial.step7.for</p>
                    <table>
                        <tbody>
                            <tr *ngFor="let entry of graveyardBurialPersons; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{entry.firstname +' '+ entry.lastname}}</td>
                                <td>
                                    <span translate>graveyard_burial.step7.passed_away&nbsp;</span>
                                    <span>{{entry.dod}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <form>
                        <label>
                            <span translate>graveyard_burial.step7.burial_fee</span>
                            <span style="color:#fff">{{graveyardBurialFee}}&nbsp;{{graveyardBurialCurrency}}</span>
                        </label>
                        <p translate>graveyard_burial.step7.multi_layered_authentication_credit_cards</p>
                        <label>
                            <button class="align-right">
                                <span translate>graveyard_burial.step7.confirm&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
            </div>
            <div id="reservation"  [style.display]="(selectedTab == 'reservation') ? 'block' : 'none'">
                <div *ngIf="isReservationTermsVisible">
                    <div class="scroll-content-2">
                            <h4>Reservation: Virtual Graveyard Terms and Conditions</h4>
                            <p>1. Virtual Graveyard a place done in memory of the dead.</p>
                            <p>2. Personal data are stored in electronic form.</p>
                            <p>3. Datastore is a payable service.</p>
                            <p>4. Cost of a given service is specified in Price list which is an integral part of Terms And Conditions.</p>
                            <p>5. Personal data are stored in Virtual Graveyard after the relevant charge has been paid. </p>
                            <p>6. Charge for data introduction is a disposable payment that can be made by credit card or electronic money transfer.</p>
                            <p>7. The transaction can be canceled within 10 days From the day when the entry was made. The amount of money paid on Virtual Graveyard account will be then repaid with a 20% discount for handling charges, data will be removed from the database.</p>
                            <p>8. After 10 days from the registration,transaction is treated as concluded,and charge is not repayable.</p>
                            <p>9. Time of storage of data registered to the system is not defined. They are stored until the system exists.</p>
                            <p>10. The person that registers data has the right to change them or remove from the database. Data deletion is an irreversible process.</p>
                            <p>11. Person that registers data will receive login and password,that allow to modify the entry on Virtual Graveyard.</p>
                            <p>12. These regulations are in force for not defined period of time.</p>
                            <p>13. The person making registration is responsible for the content written on graves and epitaphs.</p>
                            <p>14. Virtual Graveyard administration reserves the right to remove data registered in database partly or as a whole, if the language is abusive, are converse to decorum or illegal.( e.g making an entry of a living persons without their consent).</p>
                            <p>15. A living person who introduces his data to Virtual Graveyard Transfer the right to register data of death on a third party that will be informed about it via email send by Virtual Graveyard Administrator.</p>
                            <p>16. Data for Virtual Graveyard can be deleted by a person who introduced them or by Virtual Graveyard Administrator in situations described in point 14.</p>
                            <p>17. A living person who introduces his data to Virtual Graveyard database simultaneously agrees for their processing on the basis of Virtual Graveyard running.</p>
                            <p>18. On the same grave there can be tombs belonging to people of different religious beliefs,what does not result from activities aiming at their violation. It results from the rules on which the website has an influence, and which he can freely settle.</p>
                            <p>19. Virtual Graveyard Administrator is not responsible for informative materials (pictures and contents) used on the website by third parties. </p>
                    </div>
                    <form>
                        <label>
                            <button class="align-left" (click)="rejectReservationTerms()">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;reservation.reject_terms</span>
                            </button>
                            <button class="align-right" (click)="acceptReservationTerms()">
                                <span translate>reservation.accept_terms&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="!isReservationTermsVisible">
                    <div *ngIf="(reservationCurrentStep == 1)">
                        <h4>
                            <span translate>reservation.title</span>&nbsp;
                            <span translate>reservation.step</span>&nbsp;{{reservationCurrentStep}}
                            <span translate>reservation.of</span>&nbsp;{{reservationTotalSteps}}
                        </h4>
                        <form>
                            <label>
                                <span translate>reservation.step1.choose</span>
                                <select name="reservationSelectedType" [(ngModel)]="reservationSelectedType" (change)="changeReservationType();">
                                    <option value="graveyard" translate>reservation.step1.graveyard</option>
                                    <option value="catacomb" translate>reservation.step1.catacomb</option>
                                </select>
                            </label>
                            <label *ngIf="isReservationSubTypeVisible">
                                <span translate>reservation.step1.choose_grave</span>
                                <select name="reservationSelectedSubType" [(ngModel)]="reservationSelectedSubType">
                                    <option value="single" translate>reservation.step1.single</option>
                                    <option value="family" translate>reservation.step1.family</option>
                                    <option value="communal" translate>reservation.step1.communal</option>
                                </select>
                            </label>
                            <label>
                                <button class="align-right" (click)="reservationNextStep()">
                                    <span translate>reservation.next&nbsp;&nbsp;</span>
                                    <i class="fa fa-forward"></i>
                                </button>
                            </label>
                        </form>
                    </div>
                    <div *ngIf="(reservationCurrentStep == 2)">
                        <h4>
                            <span translate>reservation.title</span>&nbsp;
                            <span translate>reservation.step2.choose_grave_stone</span>&nbsp;
                            <span translate>reservation.step</span>&nbsp;{{reservationCurrentStep}}
                            <span translate>reservation.of</span>&nbsp;{{reservationTotalSteps}}&nbsp;
                            <select  *ngIf="(reservationSelectedType == 'graveyard' && reservationSelectedSubType == 'single')" 
                            (change)="selectReservationCommunity();" name="reservationSelectedCommunity" [(ngModel)]="reservationSelectedCommunity">
                                <option *ngFor="let object of reservationCommunities" [value]="object.community">{{object.community}}</option>
                            </select>
                        </h4>
                        <form *ngIf="(reservationSelectedType == 'graveyard' && reservationSelectedSubType == 'communal')">
                            <label>
                                <span translate>graveyard_burial.step2.name_of_clan</span>
                                <input type="text" [(ngModel)]="reservationClanName" name="reservationClanName"/>
                            </label>
                            <label>
                                <span translate>graveyard_burial.step2.enter_size</span>
                                <input type="text" [(ngModel)]="reservationSize" name="reservationSize"/>
                            </label>
                        </form>
                        <div class="tile-scroll-content" [ngClass]="{'small-height': (reservationSelectedType == 'graveyard' && reservationSelectedSubType == 'communal')}">
                            <div class="tile" *ngFor="let stone of reservationStones"
                            [ngClass]="{'selected': (reservationSelectedStone == stone.data)}" (click)="selectReservationStone(stone.data)">
                                <img [src]="stone.min"/>
                                <div class="img-hover" [ngStyle]="{'background-image': 'url(' + stone.max + ')'}"></div>
                            </div>
                        </div>
                        <form>
                            <label>
                                <button class="align-left" (click)="reservationPreviousStep()">
                                    <i class="fa fa-backward"></i>
                                    <span translate>&nbsp;&nbsp;reservation.prev</span>
                                </button>
                                <button class="align-right" (click)="reservationNextStep()">
                                    <span translate>reservation.next&nbsp;&nbsp;</span>
                                    <i class="fa fa-forward"></i>
                                </button>
                            </label>
                        </form>
                    </div>
                    <div *ngIf="(reservationCurrentStep == 3)">
                        <h4>
                            <span translate>reservation.title</span>&nbsp;
                            <span translate>reservation.step3.information_about_death_person</span>&nbsp;
                            <span translate>reservation.step</span>&nbsp;{{reservationCurrentStep}}
                            <span translate>reservation.of</span>&nbsp;{{reservationTotalSteps}}
                        </h4>
                        <form>
                            <label>
                                <span translate>reservation.step3.firstname<sup>*</sup></span>
                                <input type="text" [(ngModel)]="reservationFirstname" name="reservationFirstname">
                            </label>
                            <label>
                                <span translate>reservation.step3.surname_or_lastname<sup>*</sup></span>
                                <input type="text"[(ngModel)]="reservationLastname" name="reservationLastname">
                            </label>
                            <label>
                                <span translate>reservation.step3.date_of_birth<sup>*</sup></span>
                                <input type="date" [(ngModel)]="reservationDOB" name="reservationDOB">
                            </label>
                            <label>
                                <span translate>reservation.step3.passed_away<sup>*</sup></span>
                                <input type="date" [(ngModel)]="reservationDOD" name="reservationDOD">
                            </label>
                            <label>
                                <span translate>reservation.step3.gender<sup>*</sup></span>
                                <input type="radio" value="Male" [(ngModel)]="reservationGender" name="reservationGender"> 
                                <span style="width:50px;">Male</span>&nbsp;&nbsp;
                                <input type="radio" value="Female" [(ngModel)]="reservationGender" name="reservationGender"> 
                                <span style="width:50px;">Female</span>&nbsp;&nbsp;
                            </label>
                            <label>
                                <span translate>reservation.step3.upload_photos</span>
                                <input #reservationphoto type="file" onclick="value = null" name="reservation-photo" id="reservation-photo" 
                                style="display: none;" (change)="uploadReservationPhotos(reservationphoto.files)"/>
                                <button (click)="reservationphoto.click();">
                                    <span translate>reservation.step3.upload_photos&nbsp;&nbsp;</span>
                                    <i class="fa fa-forward"></i>
                                </button>
                            </label>
                        </form>
                        <p class="tile" *ngFor="let image of reservationImages">
                            <span class="featured" *ngIf="image.is_portrait"><i class="fa fa-star"></i></span>
                            <img [src]="image.url"/>
                        </p>
                        <p><sup>*</sup><span translate>reservation.step3.required</span></p>
                        <form>
                            <label>
                                <button class="align-left" (click)="reservationPreviousStep()">
                                    <i class="fa fa-backward"></i>
                                    <span translate>&nbsp;&nbsp;reservation.prev</span>
                                </button>
                                <button class="align-right" (click)="reservationNextStep()">
                                    <span translate>reservation.next&nbsp;&nbsp;</span>
                                    <i class="fa fa-forward"></i>
                                </button>
                            </label>
                        </form>
                    </div>
                    <div *ngIf="(reservationCurrentStep == 4)">
                        <h4>
                            <span translate>reservation.title</span>&nbsp;
                            <span translate>reservation.step4.information_about_death_person</span>&nbsp;
                            <span translate>reservation.step</span>&nbsp;{{reservationCurrentStep}}
                            <span translate>reservation.of</span>&nbsp;{{reservationTotalSteps}}
                        </h4>
                        <form>
                            <label>
                                <span translate>reservation.step4.in_memoriam</span>
                                <textarea class="large-box" [(ngModel)]="reservationInMemoriam" name="reservationInMemoriam"></textarea>
                            </label>
                            <label>
                                <span translate>reservation.step4.signature</span>
                                <input type="text" class="align-right"  [(ngModel)]="reservationSignature" name="reservationSignature"/>
                            </label>
                            <label>
                                <button class="align-left" (click)="reservationPreviousStep()">
                                    <i class="fa fa-backward"></i>
                                    <span translate>&nbsp;&nbsp;reservation.prev</span>
                                </button>
                                <button class="align-right" (click)="reservationNextStep()">
                                    <span translate>reservation.next&nbsp;&nbsp;</span>
                                    <i class="fa fa-forward"></i>
                                </button>
                            </label>
                        </form>
                    </div>
                    <div *ngIf="(reservationCurrentStep == 5)">
                        <h4>
                            <span translate>reservation.title</span>&nbsp;
                            <span translate>reservation.step5.confirm_your_entry</span>&nbsp;
                            <span translate>reservation.step</span>&nbsp;{{reservationCurrentStep}}
                            <span translate>reservation.of</span>&nbsp;{{reservationTotalSteps}}
                        </h4>
                        <form>
                            <label>
                                <span translate>reservation.step5.firstname</span>
                                <span>{{reservationFirstname}}</span>
                            </label>
                            <label>
                                <span translate>reservation.step5.surname_or_lastname</span>
                                <span>{{reservationLastname}}</span>
                            </label>
                            <label>
                                <span translate>reservation.step5.date_of_birth</span>
                                <span>{{reservationDOB}}</span>
                            </label>
                            <label>
                                <span translate>reservation.step5.passed_away</span>
                                <span>{{reservationDOD}}</span>
                            </label>
                            <label>
                                <span translate>reservation.step5.gender</span>
                                <span>{{reservationInMemoriam}}</span>
                            </label>
                            <label>
                                <span translate>reservation.step5.signature</span>
                                <span>{{reservationSignature}}</span>
                            </label>
                            <label>
                                <button class="align-left" (click)="reservationPreviousStep()">
                                    <i class="fa fa-backward"></i>
                                    <span translate>&nbsp;&nbsp;reservation.prev</span>
                                </button>
                                <button class="align-right" (click)="reservationNextStep()">
                                    <span translate>reservation.next&nbsp;&nbsp;</span>
                                    <i class="fa fa-forward"></i>
                                </button>
                            </label>
                        </form>
                    </div>
                    <div *ngIf="(reservationCurrentStep == 6)">
                        <h4>
                            <span translate>reservation.title</span>&nbsp;
                            <span translate>reservation.step</span>&nbsp;{{reservationCurrentStep}}
                            <span translate>reservation.of</span>&nbsp;{{reservationTotalSteps}}
                        </h4>
                        <h4>
                            <span translate>reservation.step6.size_of_grave</span>&nbsp;
                            <span>{{reservationSize}}&nbsp;</span>
                            <span translate>reservation.step6.people</span>
                        </h4>
                        <p translate>reservation.step6.list_of_dead_people_in_communal_grave</p>
                        <table>
                            <tbody>
                                <tr *ngFor="let entry of reservationPersons; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{entry.firstname +' '+ entry.lastname}}</td>
                                    <td>
                                        <span translate>graveyard_burial.step6.passed_away&nbsp;</span>
                                        <span>{{entry.dod}}</span>
                                    </td>
                                    <td>
                                        <button (click)="changeReservationPerson(entry)" 
                                        translate>graveyard_burial.step6.change</button>
                                    </td>
                                    <td>
                                        <button (click)="removeReservationPerson(entry)" 
                                        translate>graveyard_burial.step6.remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form>
                            <label>
                                <button  *ngIf="!(reservationSize == reservationPersons.length)"
                                class="align-right" (click)="addAnotherPersonInReservation()">
                                    <span translate>reservation.step6.add_another_person</span>
                                </button>
                            </label>
                            <br/>
                            <br/>
                            <label>
                                <button class="align-left" (click)="reservationPreviousStep()">
                                    <i class="fa fa-backward"></i>
                                    <span translate>&nbsp;&nbsp;reservation.prev</span>
                                </button>
                                <button class="align-right" (click)="reservationNextStep()" >
                                    <span translate>reservation.step6.accept&nbsp;&nbsp;</span>
                                    <i class="fa fa-forward"></i>
                                </button>
                            </label>
                        </form>
                    </div>
                    <div *ngIf="(reservationCurrentStep == 7)">
                        <h4>
                            <span translate>reservation.title</span>&nbsp;
                            <span translate>reservation.step7.confirm_please</span>&nbsp;
                            <span translate>reservation.step</span>&nbsp;{{reservationCurrentStep}}
                            <span translate>reservation.of</span>&nbsp;{{reservationTotalSteps}}
                        </h4>
                        <p translate>reservation.step7.for</p>
                        <table>
                            <tbody>
                                <tr *ngFor="let entry of reservationPersons; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{entry.firstname +' '+ entry.lastname}}</td>
                                    <td>
                                        <span translate>graveyard_burial.step7.passed_away&nbsp;</span>
                                        <span>{{entry.dod}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <form>
                            <label>
                                <span translate>reservation.step7.burial_fee</span>
                                <span style="color:#fff">{{reservationFee}}&nbsp;{{reservationCurrency}}</span>
                            </label>
                            <p translate>reservation.step7.multi_layered_authentication_credit_cards</p>
                            <label>
                                <button class="align-right">
                                    <span translate>reservation.step7.confirm&nbsp;&nbsp;</span>
                                    <i class="fa fa-forward"></i>
                                </button>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isGraveLoadingScreenVisible" id="content" class="loading-bg" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/wall.png') +')'">
    <app-user-mgt></app-user-mgt>
    <app-logo></app-logo>
    <ul id="loading-options">
        <li>
            <label translate>graveyard.loading_screen.day</label>
            <button class="day" 
            [style.backgroundImage]="'url('+ imageService.getImage('assets/images/day.png') +')'" 
            (click)="setSceneTime(1);" [ngClass]="{'active': (selectedSceneTime == 1) }"><span></span></button>
        </li>
        <li>
            <label translate>graveyard.loading_screen.night</label>
            <button class="night" 
            [style.backgroundImage]="'url('+ imageService.getImage('assets/images/night.png') +')'" 
            (click)="setSceneTime(2);" [ngClass]="{'active': (selectedSceneTime == 2) }"><span></span></button>
        </li>
        <li class="seperator"></li>
        <li>
            <label translate>graveyard.loading_screen.blue_sky</label>
            <button class="blue-sky" 
            [style.backgroundImage]="'url('+ imageService.getImage('assets/images/blue-sky.png') +')'" 
            (click)="setSceneSeason(1);" [ngClass]="{'active': (selectedSceneSeason == 1) }"><span></span></button>
        </li>
        <li>
            <label translate>graveyard.loading_screen.rain</label>
            <button class="rain" 
            [style.backgroundImage]="'url('+ imageService.getImage('assets/images/rain.png') +')'" 
            (click)="setSceneSeason(2);" [ngClass]="{'active': (selectedSceneSeason == 2) }"><span></span></button>
        </li>
        <li>
            <label translate>graveyard.loading_screen.thunder_strom</label>
            <button class="thunder-strom" 
            [style.backgroundImage]="'url('+ imageService.getImage('assets/images/thunder-strom.png') +')'" 
            (click)="setSceneSeason(3);" [ngClass]="{'active': (selectedSceneSeason == 3) }"><span></span></button>
        </li>
        <li>
            <label translate>graveyard.loading_screen.snow</label>
            <button class="snow" 
            [style.backgroundImage]="'url('+ imageService.getImage('assets/images/snow.png') +')'" 
            (click)="setSceneSeason(4);" [ngClass]="{'active': (selectedSceneSeason == 4) }"><span></span></button>
        </li>
        <li class="seperator"></li>
        <li>
            <label translate>graveyard.loading_screen.random</label>
            <button class="random" 
            [style.backgroundImage]="'url('+ imageService.getImage('assets/images/random.png') +')'" 
            (click)="randomSceneSelection();" [ngClass]="{'active': isRandomSceneSelected }"><span></span></button>
        </li>
        <li>
            <label>&nbsp;</label>
            <button class="ok" 
            [style.backgroundImage]="'url('+ imageService.getImage('assets/images/ok.png') +')'" 
             (click)="showGraveyard();"></button>
        </li>
    </ul>
</div>