<div id="content" class="loading-bg with-logo-cursor" *ngIf="!isImageLoadingCompleted">
    <img src="./assets/images/logo.gif" id="logo-gif" [ngStyle]="{'height': '200px', 'width':'145px'}"/>
</div>
<div id="content" *ngIf="isImageLoadingCompleted" [ngClass]="{'goto-notice-wall': isGateOpen, 
'return-to-maingate': isReturnedToMainGate}">
  <app-logo></app-logo>
  <div class="sky"></div>
  <div class="birds"></div>
  <div class="gate-wall">
    <div class="top-board"></div>
    <div class="lion-left"></div>
    <div class="lion-right"></div>
    <div class="main-gate">
      <div class="gate-left" (click)="openGate()"></div>
      <div class="gate-right" (click)="openGate()"></div>
    </div>
  </div>
  <div class="notice-wall"></div>
</div>