<div id="content" class="notice-bg">
    <app-user-mgt></app-user-mgt>
    <div class="scroll-content">
        <h4 translate>contact_us.title</h4>
        <form>
            <label>
                <span translate>contact_us.surname_and_firstname</span>
                <input type="text">
            </label>
            <label>
                <span translate>contact_us.your_email</span>
                <input type="text">
            </label>
            <label>
                <span translate>contact_us.subject</span>
                <input type="text">
            </label>
            <label>
                <span translate>contact_us.message</span>
                <textarea rows="20"></textarea>
            </label>
            <label>
                <button class="align-right" translate>contact_us.send_message</button>
            </label>
        </form>
    </div>
</div>