<div id="content" class="notice-bg">
    <div class="scroll-content">
        <h4>_Contact Us_</h4>
        <form>
            <label>
                <span>_Surname and firstname_</span>
                <input type="text">
            </label>
            <label>
                <span>_Your email_</span>
                <input type="text">
            </label>
            <label>
                <span>_Subject_</span>
                <input type="text">
            </label>
            <label>
                <span>_Message_</span>
                <textarea rows="20"></textarea>
            </label>
            <label>
                <button class="align-right">_Send Message_</button>
            </label>
        </form>
    </div>
</div>