<div id="content" class="loading-bg with-logo-cursor" *ngIf="isGraveyardLoading" 
[style.backgroundImage]="'url('+ imageService.getImage('assets/images/wall.png') +')'">
    <app-user-mgt></app-user-mgt>
    <img [src]="imageService.getImage('assets/images/logo.gif')" id="logo-gif" [ngStyle]="{'height': '200px', 'width':'145px'}"/>
</div>
<div id="content" class="graveyard" *ngIf="!isGraveyardLoading">
    <app-user-mgt></app-user-mgt>
    <app-logo></app-logo>
    <div class="sub-header" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/header.jpg') +')'">
        <button (click)="nextGrave()" class="btn-left" translate>graveyard.next_grave<i class="fa fa-play-circle right-icon"></i></button>
        <button (click)="backToSearchResults()" class="btn-middle" translate>graveyard.back_to_search_result</button>
        <button (click)="previousGrave()" class="btn-right" translate><i class="fa fa-play-circle left-icon"></i>graveyard.previous_grave</button>
    </div>
    <div class="graveyard-sky-container" [ngStyle]="{'background-image': skyImage}"></div>
    <div class="graveyard-container" >
        <ul [ngStyle]="{'margin-left': '-'+graveyardStartPosition+'px', 'width': (graveSize * totalGraves)+'px', 'background-image': graveyardImage}">
            <div *ngIf="isRainfallScene" class="rainfall" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/rain.gif') +')'">&nbsp;</div>
            <div *ngIf="isSnowfallScene" class="snowfall" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/snow.gif') +')'">&nbsp;</div>
            <div *ngIf="isThunderstromScene" class="thunderstrom" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/thunderstrom.gif') +')'">&nbsp;</div>
                
            <li *ngFor="let grave of graves">
                <div class="grave" [ngStyle]="{ 'width': graveSize+'px' }" >
                    <div class="style" [ngStyle]="{ 'background-image': grave.graveUrl }"></div>
                    <p class="candle-stand" (click)="openShop(grave)" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/cat-candle.png') +')'"></p>
                    <div class="object-container" >
                        <img (click)="openShop(grave);" *ngFor="let object of grave.objects" [attr.src]="object.object_url"/>
                    </div>
                    <div class="detail">
                        <p class="name" (click)="showGraveDetails(grave);">{{[].constructor.isArray(grave.name1) ? grave.name1[0] : grave.name1}} {{grave.surname}}</p>
                        <p>
                            <span><label>Born</label>{{grave.date_birth}}</span>
                            <span><label>Passed Away</label>{{grave.date_death}}</span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="stroke-tabs grave-detail" [ngClass]="{'open': isGraveDetailsOpen }">
            <button class="close-btn" (click)="closeDetails();"><i class="fas fa-times"></i></button>
            <ul class="tab-bar">
                <li (click)="openTab('tab1');" [ngClass]="{'active': (selectedGraveDetailTab == 'tab1')}" translate>graveyard.detail.tab.personal_details.title</li>
                <li (click)="openTab('tab2');" [ngClass]="{'active': (selectedGraveDetailTab == 'tab2')}" translate>graveyard.detail.tab.in_memoriam.title</li>
                <li (click)="openTab('tab3');" [ngClass]="{'active': (selectedGraveDetailTab == 'tab3')}" translate>graveyard.detail.tab.album.title</li>
                <li (click)="openTab('tab4');" [ngClass]="{'active': (selectedGraveDetailTab == 'tab4')}" translate>graveyard.detail.tab.remembrance.title</li>
                <li (click)="openTab('tab5');" [ngClass]="{'active': (selectedGraveDetailTab == 'tab5')}" translate>graveyard.detail.tab.candles.title</li>
            </ul>
            <div class="tabs">
                <div [ngClass]="{'active': (selectedGraveDetailTab == 'tab1')}">
                    <div class="col-left">
                        <img *ngIf="graveUserImage" [attr.src]="graveUserImage" class="user-image"/>
                    </div>
                    <div class="col-right" *ngIf="grave">
                        <form>
                            <label>
                                <span translate>graveyard.detail.tab.personal_details.grave_number</span>
                                <span class="field-value">{{grave.user_id}}</span>
                            </label>
                            <label>
                                <span translate>graveyard.detail.tab.personal_details.firstname</span>
                                <span class="field-value">{{grave.name1}}</span>
                            </label>
                            <label>
                                <span translate>graveyard.detail.tab.personal_details.surname</span>
                                <span class="field-value">{{grave.surname}}</span>
                            </label>
                            <label>
                                <span translate>graveyard.detail.tab.personal_details.dob</span>
                                <span class="field-value">{{grave.date_birth}}</span>
                            </label>
                            <label>
                                <span translate>graveyard.detail.tab.personal_details.birth_country</span>
                                <span class="field-value">{{grave.birth_coutry_name}}</span>
                            </label>
                            <label>
                                <span translate>graveyard.detail.tab.personal_details.passed_away</span>
                                <span class="field-value">{{grave.date_death}}</span>
                            </label>
                            <label>
                                <span translate>graveyard.detail.tab.personal_details.death_country</span>
                                <span class="field-value">{{grave.death_coutry_name}}</span>
                            </label>
                            <label>
                                <span translate>graveyard.detail.tab.personal_details.religion</span>
                                <span class="field-value">{{grave.religion_name}}</span>
                            </label>
                        </form>
                    </div>
                </div>
                <div [ngClass]="{'active': (selectedGraveDetailTab == 'tab2')}">
                    <div *ngIf="grave">
                        <ul class="text-list" *ngFor="let bio of grave.biografia">
                            <li>
                                <p class="message">{{bio.message}}</p>
                                <p class="from">{{bio.from}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div [ngClass]="{'active': (selectedGraveDetailTab == 'tab3')}">
                </div>
                <div [ngClass]="{'active': (selectedGraveDetailTab == 'tab4')}">
                    <form [hidden]="!isRemeberanceFormOpen">
                        <h4 translate>graveyard.detail.tab.remembrance.add_entry_to_the_book_of_condolence</h4>
                        <label>
                            <span translate>graveyard.detail.tab.remembrance.max_500_characters</span>
                            <textarea [(ngModel)]="condolenceMessage" name="message" [ngStyle]="{'height': '100px'}" class="block-field" rows="20"></textarea>
                        </label>
                        <label class="text-right">
                            <span translate>graveyard.detail.tab.remembrance.signature</span>
                            <input [(ngModel)]="condolenceSignature" name="signature" type="text">
                        </label>
                        <label>
                            <button (click)="closeRememberanceForm();" class="align-left">
                                <i class="fa fa-backward"></i>
                                <span translate>&nbsp;&nbsp;graveyard.detail.tab.remembrance.back</span>
                            </button>
                            <button class="align-right" (click)="addCondolence();">
                                <span translate>graveyard.detail.tab.remembrance.add_entry&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                    <div *ngIf="grave"  [hidden]="isRemeberanceFormOpen">
                        <form>
                            <label [ngStyle]="{'height': '10px'}">
                                <span *ngIf="(comments.lenght == 0)" translate>graveyard.detail.tab.remembrance.no_entry</span>
                                <button (click)="openRememberanceForm();" class="align-right" translate>graveyard.detail.tab.remembrance.add_entry
                                    <i class="fa fa-forward"></i></button>
                            </label>
                        </form>
                        <ul class="text-list">
                            <li *ngFor="let comment of comments">
                                <p class="message">{{comment.body}}</p>
                                <p class="from">
                                    <span>{{comment.nick}}</span>&nbsp;&nbsp;
                                    <span>{{comment.add_date}}</span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div [ngClass]="{'active': (selectedGraveDetailTab == 'tab5')}">
                    <form>
                        <label>
                            <button class="align-right" (click)="shopObjects();">
                                <span translate>graveyard.detail.tab.candles.lit_a_candle&nbsp;&nbsp;</span>
                                <i class="fa fa-forward"></i>
                            </button>
                        </label>
                    </form>
                    <div *ngIf="grave">
                        <div class="object-list">
                            <div *ngFor="let object of objects">
                                <img [attr.src]="object.object_url"/>
                                <div>
                                    <span class="message">{{object.comment}}</span>&nbsp;&nbsp;
                                    <span class="message">
                                        <span translate>graveyard.detail.tab.candles.this_object_will_finish_out_in</span>&nbsp;&nbsp;
                                        {{object.end_time}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

