    <li class="inline" (click)="openShop();" translate>header.menu.shop</li>
    <div class="stroke-tabs fixed-positioned" [ngClass]="{'open': isShopDialogOpen }" style="margin-top: 90px;">
        <button class="close-btn" (click)="closeShop();"><i class="fas fa-times"></i></button>
        <p class="tab-bar">
            <span (click)="openTab('tab1');" [ngClass]="{'active': (selectedShopTab == 'tab1')}" translate>shop.tab.candles</span>
            <span (click)="openTab('tab2');" [ngClass]="{'active': (selectedShopTab == 'tab2')}" translate>shop.tab.funeral_flowers</span>
            <span (click)="openTab('tab3');" [ngClass]="{'active': (selectedShopTab == 'tab3')}" translate>shop.tab.stones</span>
            <span (click)="openTab('tab4');" [ngClass]="{'active': (selectedShopTab == 'tab4')}" translate>shop.tab.others</span>
        </p>
        <div class="tabs">
            <div [ngClass]="{'active': (selectedShopTab == 'tab1')}">
                <div *ngIf="!isSelectedGraveNotAvailable">
                    <h4 *ngIf="selectedGraveName && selectedGraveId">
                        <span translate>shop.purchase_for_grave</span> {{selectedGraveName}}({{selectedGraveId}})
                    </h4>
                    <div *ngIf="!isCandleShopFormVisible">
                        <div *ngIf="candles" >
                            <p class="tile" *ngFor="let candle of candles" (click)="selectCandle(candle)">
                                <img [attr.src]="candle"/>
                            </p>
                        </div>
                    </div>
                    <form *ngIf="isCandleShopFormVisible">
                        <label>
                            <span translate>shop.form.dedication_signature</span>
                            <textarea class="big-box" [(ngModel)]="dedication" name="dedication"></textarea>
                        </label>
                        <label>
                            <span translate>shop.form.valid_upto</span>
                            <p *ngFor="let object of candlePrices" style="margin: 3px 0;font-size: 10px;">
                                <input type="radio" [value]="object.id" name="selectedCandlePrice" (click)="onCandleValidUpToDateChange(object.id);">&nbsp;
                                <span>{{(currentLang == 'en') ? object.desc_en : object.desc_pl}}&nbsp;-&nbsp;{{object.price}}&nbsp;{{object.currency}}</span>
                            </p>
                        </label>
                        <label *ngIf="isItemAlreadyExists">
                            <p style="font-size:11px;color:#f00" translate>shop.form.item_already_exists</p>
                        </label>
                        <label>
                            <button type="button" class="align-left" (click)="CandleShoppingChange()">
                                <span translate><i class="fa fa-backward"></i>&nbsp;&nbsp;shop.form.back</span>
                            </button>
                            <button type="button" class="align-right" (click)="CandleShoppingConfirm()" *ngIf="isPaymentCompleted">
                                <span translate>shop.form.confirm&nbsp;&nbsp;<i class="fa fa-forward"></i></span>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="isSelectedGraveNotAvailable">
                    <form>
                        <label>
                            <span translate>shop.form.choose</span>
                            <select name="searchGraveType" [(ngModel)]="searchGraveType">
                                <option value="graveyard" translate>shop.form.graveyard</option>
                                <option value="pet_graveyard" translate>shop.form.pet_graveyard</option>
                                <option value="catacomb" translate>shop.form.catacomb</option>
                            </select>
                        </label>
                        <label>
                            <span translate>shop.form.enter_grave_number_for_new_candle_or_fresh_flower</span>
                            <input type="text" [(ngModel)]="searchGraveNumber" name="searchGraveNumber">
                        </label>
                        <label>
                            <span></span>
                            <button type="button" (click)="searchGrave()">
                                <span translate>shop.form.next&nbsp;&nbsp;<i class="fa fa-forward"></i></span>
                            </button>
                        </label>
                        <label *ngIf="noSearchResult">
                            <p style="font-size:11px;color:#f00" translate>shop.form.no_result_found</p>
                        </label>
                    </form>
                </div>
            </div>
            <div [ngClass]="{'active': (selectedShopTab == 'tab2')}">
                <div *ngIf="!isSelectedGraveNotAvailable">
                    <h4 *ngIf="selectedGraveName && selectedGraveId">
                        <span translate>shop.purchase_for_grave</span> {{selectedGraveName}}({{selectedGraveId}})
                    </h4>
                    <div *ngIf="!isFlowerShopFormVisible">
                        <div *ngIf="flowers">
                            <p class="tile" *ngFor="let flower of flowers" (click)="selectFlower(flower)">
                                <img [attr.src]="flower"/>
                            </p>
                        </div>
                    </div>
                    <form *ngIf="isFlowerShopFormVisible">
                        <label>
                            <span translate>shop.form.dedication_signature</span>
                            <textarea class="big-box" [(ngModel)]="dedication" name="dedication"></textarea>
                        </label>
                        <label>
                            <span translate>shop.form.valid_upto</span>
                            <p *ngFor="let object of flowerPrices" style="margin: 3px 0;font-size: 10px;">
                                <input type="radio" [value]="object.id" (click)="onFlowerValidUpToDateChange(object.id);" name="selectedFlowerPrice">&nbsp;
                                <span>{{(currentLang == 'en') ? object.desc_en : object.desc_pl}}&nbsp;-&nbsp;{{object.price}}&nbsp;{{object.currency}}</span>
                            </p>
                        </label>
                        <label *ngIf="isItemAlreadyExists">
                            <p style="font-size:11px;color:#f00" translate>shop.form.item_already_exists</p>
                        </label>
                        <label>
                            <button type="button" class="align-left" (click)="FlowerShoppingChange()">
                                <span translate><i class="fa fa-backward"></i>&nbsp;&nbsp;shop.form.back</span>
                            </button>
                            <button type="button" class="align-right" (click)="FlowerShoppingConfirm()" *ngIf="isPaymentCompleted">
                                <span translate>shop.form.confirm&nbsp;&nbsp;<i class="fa fa-forward"></i></span>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="isSelectedGraveNotAvailable">
                    <form>
                        <label>
                            <span translate>shop.form.choose</span>
                            <select name="searchGraveType" [(ngModel)]="searchGraveType">
                                <option value="graveyard" translate>shop.form.graveyard</option>
                                <option value="pet_graveyard" translate>shop.form.pet_graveyard</option>
                                <option value="catacomb" translate>shop.form.catacomb</option>
                            </select>
                        </label>
                        <label>
                            <span translate>shop.form.enter_grave_number_for_new_candle_or_fresh_flower</span>
                            <input type="text" [(ngModel)]="grave_number" name="grave_number">
                        </label>
                        <label>
                            <span></span>
                            <button type="button" (click)="searchGrave()">
                                <span translate>shop.form.next&nbsp;&nbsp;<i class="fa fa-forward"></i></span>
                            </button>
                        </label>
                        <label *ngIf="noSearchResult">
                            <p style="font-size:11px;color:#f00" translate>shop.form.no_result_found</p>
                        </label>
                    </form>
                </div>
            </div>
            <div [ngClass]="{'active': (selectedShopTab == 'tab3')}">
                <div *ngIf="!isSelectedGraveNotAvailable">
                    <h4 *ngIf="selectedGraveName && selectedGraveId">
                        <span translate>shop.purchase_for_grave</span> {{selectedGraveName}}({{selectedGraveId}})
                    </h4>
                    <div *ngIf="!isStoneShopFormVisible">
                        <div *ngIf="stones">
                            <p class="tile" *ngFor="let stone of stones" (click)="selectStone(stone)">
                                <img [attr.src]="stone"/>
                            </p>
                        </div>
                    </div>
                    <form *ngIf="isStoneShopFormVisible">
                        <label>
                            <span translate>shop.form.dedication_signature</span>
                            <textarea class="big-box" [(ngModel)]="dedication" name="dedication"></textarea>
                        </label>
                        <label>
                            <span translate>shop.form.valid_upto</span>
                            <p *ngFor="let object of stonePrices" style="margin: 3px 0;font-size: 10px;">
                                <input type="radio" [value]="object.id" (click)="onStoneValidUpToDateChange(object.id);" name="selectedStonePrice">&nbsp;
                                <span>{{(currentLang == 'en') ? object.desc_en : object.desc_pl}}&nbsp;-&nbsp;{{object.price}}&nbsp;{{object.currency}}</span>
                            </p>
                        </label>
                        <label *ngIf="isItemAlreadyExists">
                            <p style="font-size:11px;color:#f00" translate>shop.form.item_already_exists</p>
                        </label>
                        <label>
                            <button type="button" class="align-left" (click)="StoneShoppingChange()">
                                <span translate><i class="fa fa-backward"></i>&nbsp;&nbsp;shop.form.back</span>
                            </button>
                            <button type="button" class="align-right" (click)="StoneShoppingConfirm()" *ngIf="isPaymentCompleted">
                                <span translate>shop.form.confirm&nbsp;&nbsp;<i class="fa fa-forward"></i></span>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="isSelectedGraveNotAvailable">
                    <form>
                        <label>
                            <span translate>shop.form.choose</span>
                            <select name="searchGraveType" [(ngModel)]="searchGraveType">
                                <option value="graveyard" translate>shop.form.graveyard</option>
                                <option value="pet_graveyard" translate>shop.form.pet_graveyard</option>
                                <option value="catacomb" translate>shop.form.catacomb</option>
                            </select>
                        </label>
                        <label>
                            <span translate>shop.form.enter_grave_number_for_new_candle_or_fresh_flower</span>
                            <input type="text" [(ngModel)]="grave_number" name="grave_number">
                        </label>
                        <label>
                            <span></span>
                            <button type="button" (click)="searchGrave()">
                                <span translate>shop.form.next&nbsp;&nbsp;<i class="fa fa-forward"></i></span>
                            </button>
                        </label>
                        <label *ngIf="noSearchResult">
                            <p style="font-size:11px;color:#f00" translate>shop.form.no_result_found</p>
                        </label>
                    </form>
                </div>
            </div>
            <div [ngClass]="{'active': (selectedShopTab == 'tab4')}">
                <div *ngIf="!isSelectedGraveNotAvailable">
                    <h4 *ngIf="selectedGraveName && selectedGraveId">
                        <span translate>shop.purchase_for_grave</span> {{selectedGraveName}}({{selectedGraveId}})
                    </h4>
                    <div *ngIf="!isOtherShopFormVisible">
                        <div *ngIf="cards">
                            <p class="tile" *ngFor="let card of cards" (click)="selectOther(card)">
                                <img [attr.src]="card"/>
                            </p>
                        </div>
                    </div>
                    <form *ngIf="isOtherShopFormVisible">
                        <label>
                            <span translate>shop.form.dedication_signature</span>
                            <textarea class="big-box" [(ngModel)]="dedication" name="dedication"></textarea>
                        </label>
                        <label>
                            <span translate>shop.form.valid_upto</span>
                            <p *ngFor="let object of otherPrices" style="margin: 3px 0;font-size: 10px;">
                                <input type="radio" [value]="object.id" (click)="onOtherValidUpToDateChange(object.id);" name="selectedOtherPrice">&nbsp;
                                <span>{{(currentLang == 'en') ? object.desc_en : object.desc_pl}}&nbsp;-&nbsp;{{object.price}}&nbsp;{{object.currency}}</span>
                            </p>
                        </label>
                        <label *ngIf="isItemAlreadyExists">
                            <p style="font-size:11px;color:#f00" translate>shop.form.item_already_exists</p>
                        </label>
                        <label>
                            <button type="button" class="align-left" (click)="OtherShoppingChange()">
                                <span translate><i class="fa fa-backward"></i>&nbsp;&nbsp;shop.form.back</span>
                            </button>
                            <button type="button" class="align-right" (click)="OtherShoppingConfirm()" *ngIf="isPaymentCompleted">
                                <span translate>shop.form.confirm&nbsp;&nbsp;<i class="fa fa-forward"></i></span>
                            </button>
                        </label>
                    </form>
                </div>
                <div *ngIf="isSelectedGraveNotAvailable">
                    <form>
                        <label>
                            <span translate>shop.form.choose</span>
                            <select name="searchGraveType" [(ngModel)]="searchGraveType">
                                <option value="graveyard" translate>shop.form.graveyard</option>
                                <option value="pet_graveyard" translate>shop.form.pet_graveyard</option>
                                <option value="catacomb" translate>shop.form.catacomb</option>
                            </select>
                        </label>
                        <label>
                            <span translate>shop.form.enter_grave_number_for_new_candle_or_fresh_flower</span>
                            <input type="text" [(ngModel)]="grave_number" name="grave_number">
                        </label>
                        <label>
                            <span></span>
                            <button type="button" (click)="searchGrave()">
                                <span translate>shop.form.next&nbsp;&nbsp;<i class="fa fa-forward"></i></span>
                            </button>
                        </label>
                        <label *ngIf="noSearchResult">
                            <p style="font-size:11px;color:#f00" translate>shop.form.no_result_found</p>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--
    sandbox: 'AX9yH-DFyOn8ILuf6TqA13YZJ1bJeVk39RdSRNWvBxnEwVsfslVbLLnCaSjGtLzjPh5tmM7h3wmn7oMA',
    production: 'ASrZDMsjtHOMaQWC09ejKmyGFcpb9FhJMD5eABntY8zV5M5nE6Cf_4-sBsQVM2k54qYbr_7XMtOXWfqJ'
    -->