    <li class="inline" (click)="openShop();" translate>header.menu.shop</li>
    <div class="stroke-tabs fixed-positioned" [ngClass]="{'open': isShopDialogOpen }">
        <button class="close-btn" (click)="closeShop();"><i class="fas fa-times"></i></button>
        <p class="tab-bar">
            <span (click)="openTab('tab1');" [ngClass]="{'active': (selectedShopTab == 'tab1')}" translate>shop.tab.candles</span>
            <span (click)="openTab('tab2');" [ngClass]="{'active': (selectedShopTab == 'tab2')}" translate>shop.tab.funeral_flowers</span>
            <span (click)="openTab('tab3');" [ngClass]="{'active': (selectedShopTab == 'tab3')}" translate>shop.tab.stones</span>
            <span (click)="openTab('tab4');" [ngClass]="{'active': (selectedShopTab == 'tab4')}" translate>shop.tab.others</span>
        </p>
        <div class="tabs">
            <div [ngClass]="{'active': (selectedShopTab == 'tab1')}">
                <h4 *ngIf="selectedGraveName && selectedGraveId">
                    <span translate>shop.purchase_for_grave</span> {{selectedGraveName}}({{selectedGraveId}})
                </h4>
                <div *ngIf="!isCandleShopFormVisible">
                    <div *ngIf="candles" >
                        <p class="tile" *ngFor="let candle of candles" (click)="selectCandle(candle)">
                            <img [attr.src]="candle"/>
                        </p>
                    </div>
                </div>
                <form *ngIf="isCandleShopFormVisible">
                    <label>
                        <span translate>shop.form.dedication_signature</span>
                        <textarea class="big-box" [(ngModel)]="dedication" name="dedication"></textarea>
                    </label>
                    <label>
                        <span translate>shop.form.your_first_and_last_name</span>
                        <input type="text" [(ngModel)]="firstname" name="firstname"/>&nbsp;
                        <input type="text" [(ngModel)]="lastname" name="lastname"/>
                    </label>
                    <label>
                        <p *ngFor="let object of candle_prices">
                            <input type="radio" name="candlepricegroup" [value]="object.id" (change)="onCandlePriceGroupSelect(object)">
                            <span> {{(currentLang == 'en')? object.desc_en : object.desc_pl}} at {{object.price}} {{object.currency}} </span>
                        </p>
                    </label>
                    <label>
                        <button type="button" class="align-left" (click)="CandleShoppingChange()">
                            <span translate>shop.form.back <i class="fa fa-backword"></i></span>
                        </button>
                        <button type="button" class="align-right" (click)="CandleShoppingConfirm()">
                            <span translate>shop.form.confirm <i class="fa fa-forward"></i></span>
                        </button>
                    </label>
                </form>
            </div>
            <div [ngClass]="{'active': (selectedShopTab == 'tab2')}">
                <h4 *ngIf="selectedGraveName && selectedGraveId">
                    <span translate>shop.purchase_for_grave</span> {{selectedGraveName}}({{selectedGraveId}})
                </h4>
                <div *ngIf="!isFlowerShopFormVisible">
                    <div *ngIf="flowers">
                        <p class="tile" *ngFor="let flower of flowers" (click)="selectFlower(flower)">
                            <img [attr.src]="flower"/>
                        </p>
                    </div>
                </div>
                <form *ngIf="isFlowerShopFormVisible">
                    <label>
                        <span translate>shop.form.dedication_signature</span>
                        <textarea class="big-box" [(ngModel)]="dedication" name="dedication"></textarea>
                    </label>
                    <label>
                        <span translate>shop.form.your_first_and_last_name</span>
                        <input type="text" [(ngModel)]="firstname" name="firstname"/>&nbsp;
                        <input type="text" [(ngModel)]="lastname" name="lastname"/>
                    </label>
                    <label>
                        <p *ngFor="let object of flower_prices">
                            <input type="radio" name="flowerpricegroup" [value]="object.id" (change)="onFlowerPriceGroupSelect(object)">
                            <span> {{(currentLang == 'en')? object.desc_en : object.desc_pl}} at {{object.price}} {{object.currency}} </span>
                        </p>
                    </label>
                    <label>
                        <button type="button" class="align-left" (click)="FlowerShoppingChange()">
                            <span translate>shop.form.back <i class="fa fa-backword"></i></span>
                        </button>
                        <button type="button" class="align-right" (click)="FlowerShoppingConfirm()">
                            <span translate>shop.form.confirm <i class="fa fa-forward"></i></span>
                        </button>
                    </label>
                </form>
            </div>
            <div [ngClass]="{'active': (selectedShopTab == 'tab3')}">
                <h4 *ngIf="selectedGraveName && selectedGraveId">
                    <span translate>shop.purchase_for_grave</span> {{selectedGraveName}}({{selectedGraveId}})
                </h4>
                <div *ngIf="!isStoneShopFormVisible">
                    <div *ngIf="stones">
                        <p class="tile" *ngFor="let stone of stones" (click)="selectStone(stone)">
                            <img [attr.src]="stone"/>
                        </p>
                    </div>
                </div>
                <form *ngIf="isStoneShopFormVisible">
                    <label>
                        <span translate>shop.form.dedication_signature</span>
                        <textarea class="big-box" [(ngModel)]="dedication" name="dedication"></textarea>
                    </label>
                    <label>
                        <span translate>shop.form.your_first_and_last_name</span>
                        <input type="text" [(ngModel)]="firstname" name="firstname"/>&nbsp;
                        <input type="text" [(ngModel)]="lastname" name="lastname"/>
                    </label>
                    <label>
                        <p *ngFor="let object of stone_prices">
                            <input type="radio" name="stonepricegroup" [value]="object.id" (change)="onStonePriceGroupSelect(object)">
                            <span> {{(currentLang == 'en')? object.desc_en : object.desc_pl}} at {{object.price}} {{object.currency}} </span>
                        </p>
                    </label>
                    <label>
                        <button type="button" class="align-left" (click)="StoneShoppingChange()">
                            <span translate>shop.form.back <i class="fa fa-backword"></i></span>
                        </button>
                        <button type="button" class="align-right" (click)="StoneShoppingConfirm()">
                            <span translate>shop.form.confirm <i class="fa fa-forward"></i></span>
                        </button>
                    </label>
                </form>
            </div>
            <div [ngClass]="{'active': (selectedShopTab == 'tab4')}">
                <h4 *ngIf="selectedGraveName && selectedGraveId">
                    <span translate>shop.purchase_for_grave</span> {{selectedGraveName}}({{selectedGraveId}})
                </h4>
                <div *ngIf="isOtherShopFormVisible">
                    <div *ngIf="cards">
                        <p class="tile" *ngFor="let card of cards" (click)="selectOther(card)">
                            <img [attr.src]="card"/>
                        </p>
                    </div>
                </div>
                <form *ngIf="isOtherShopFormVisible">
                    <label>
                        <span translate>shop.form.dedication_signature</span>
                        <textarea class="big-box" [(ngModel)]="dedication" name="dedication"></textarea>
                    </label>
                    <label>
                        <span translate>shop.form.your_first_and_last_name</span>
                        <input type="text" [(ngModel)]="firstname" name="firstname"/>
                        <input type="text" [(ngModel)]="lastname" name="lastname"/>
                    </label>
                    <label>
                        <p *ngFor="let object of other_prices">
                            <input type="radio" name="otherpricegroup" [value]="object.id" (change)="onOtherPriceGroupSelect(object)">
                            <span> {{(currentLang == 'en')? object.desc_en : object.desc_pl}} at {{object.price}} {{object.currency}} </span>
                        </p>
                    </label>
                    <label>
                        <button type="button" class="align-left" (click)="OtherShoppingChange()">
                            <span translate>shop.form.back <i class="fa fa-backword"></i></span>
                        </button>
                        <button type="button" class="align-right" (click)="OtherShoppingConfirm()">
                            <span translate>shop.form.confirm <i class="fa fa-forward"></i></span>
                        </button>
                    </label>
                </form>
            </div>
        </div>
    </div>