<header [style.backgroundImage]="'url('+ imageService.getImage('assets/images/header.jpg') +')'">
    <div>
        <div>
            <ul>
                <li><span translate>header.menu.you_are_at</span>: <span translate>{{_global.CURRENT_PAGE}}</span></li>
                <li><span translate>header.menu.go_to</span>:
                    <ul>
                        <li (click)="openMainGate()" translate>header.menu.main_gate</li>
                        <li (click)="openNoticeboard()" translate>header.menu.graveyard_noticeboard</li>
                        <li (click)="openGraveyard();">
                            <i class="fa fa-caret-right"></i>
                            <span translate>header.menu.graveyard</span>
                        </li>
                        <li (click)="openCatacomb()" translate>header.menu.catacomb</li>
                        <li (click)="openPetGraveyardNoticeboard();" translate>header.menu.pet_graveyard_noticeboard</li>
                        <li (click)="openPetGraveyard();" translate>
                            <i class="fa fa-caret-right"></i>
                            <span translate>header.menu.pet_graveyard</span>    
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <ul *ngIf="(IS_GUEST=='NO') && USER_INFO">
                <li class="text-center">{{USER_INFO.name +' '+ USER_INFO.surname}}</li>
                <app-account></app-account>
            </ul>
        </div>
        <div>
            <ul>
                <app-shop></app-shop>
                <li class="inline" *ngIf="!_userMgtDialog.isDialogOpen && (IS_GUEST=='YES')" translate (click)="openUserMgtDialog();">header.menu.login</li>
                <li class="inline" *ngIf="(IS_GUEST=='NO')" translate (click)="logOut();">header.menu.logout</li>
                <div class="clear"></div>
                <app-sound></app-sound>
               
                <!--header.menu.select_language-->
                <li class="inline medium"><span [innerHTML]="selectedLanguage"></span>
                    <ul>
                        <li (click)="changeLanguage('en')">English</li>
                        <li (click)="changeLanguage('pl')">Polish</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="vg-logo" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/vg-logo.png') +')'"></div>
    <div id="vg-left-logo" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/vg-left-logo.png') +')'"></div>
    <div id="vg-right-logo" [style.backgroundImage]="'url('+ imageService.getImage('assets/images/vg-right-logo.png') +')'"></div>
</header>