<header>
    <div>
        <div>
            <ul>
                <li><span translate>header.menu.you_are_at</span><span  [innerHTML]="currentRoute"></span></li>
                <li><span translate>header.menu.go_to</span>:
                    <ul>
                        <li routerLink="/home" translate>header.menu.main_gate</li>
                        <li routerLink="/noticeboard" translate>header.menu.graveyard_noticeboard</li>
                        <li (click)="gotoGraveyard();" translate>header.menu.graveyard</li>
                        <li routerLink="/catacomb" translate>header.menu.catacomb</li>
                        <li (click)="gotoPetGraveyardNoticeboard();" translate>header.menu.pet_graveyard_noticeboard</li>
                        <li (click)="gotoPetGraveyard();" translate>
                            <i class="fa fa-caret-right"></i>
                            <span translate>header.menu.pet_graveyard</span>    
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <ul *ngIf="(IS_GUEST=='NO') && USER_INFO">
                <li class="text-center">{{USER_INFO.name +' '+ USER_INFO.surname}}</li>
                <app-account></app-account>
            </ul>
        </div>
        <div>
            <ul>
                <app-shop></app-shop>
                <li class="inline" *ngIf="!_dialog.isDialogOpen && (IS_GUEST=='YES')" translate (click)="openUserMgtDialog();">header.menu.login</li>
                <li class="inline" *ngIf="(IS_GUEST=='NO')" translate (click)="logOut();">header.menu.logout</li>
                
                <li class="inline" routerLink="/home" translate>header.menu.exit</li>
                <div class="clear"></div>
                <app-sound></app-sound>
               
                <!--header.menu.select_language-->
                <li class="inline medium"><span [innerHTML]="selectedLanguage"></span>
                    <ul>
                        <li (click)="changeLanguage('en')">English</li>
                        <li (click)="changeLanguage('pl')">Polish</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="vg-logo"></div>
    <div id="vg-left-logo"></div>
    <div id="vg-right-logo"></div>
</header>